@@include('../layouts/header-end.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>お知らせ</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe end">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="sectionEP-head">
          <div class="sectionEP-titleWrap">
            <h1 class="sectionEP-title no-icon">お知らせ</h1>
          </div>
        </div>
        <ul class="news-list">
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">vegeness企画「ヴィーガンレストラン巡りツアー」開催</div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">vegeness企画「ヴィーガンレストラン巡りツアー」開催vegeness企画「ヴィーガンレストラン巡りツアー」開催vegeness企画「ヴィーガンレストラン巡りツアー」開催</div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                <span class="link-icon pdf">vegeness企画「ヴィーガンレストラン巡りツアー」開催</span>
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                <span class="link-icon blank">vegeness企画「ヴィーガンレストラン巡りツアー」開催</span>
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">vegeness企画「ヴィーガンレストラン巡りツアー」開催</div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">vegeness企画「ヴィーガンレストラン巡りツアー」開催vegeness企画「ヴィーガンレストラン巡りツアー」開催vegeness企画「ヴィーガンレストラン巡りツアー」開催</div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                <span class="link-icon excel">vegeness企画「ヴィーガンレストラン巡りツアー」開催</span>
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                vegeness企画「ヴィーガンレストラン巡りツアー」開催
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                vegeness企画「ヴィーガンレストラン巡りツアー」開催vegeness企画「ヴィーガンレストラン巡りツアー」開催vegeness企画「ヴィーガンレストラン巡りツアー」開催
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                vegeness企画「ヴィーガンレストラン巡りツアー」開催
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                vegeness企画「ヴィーガンレストラン巡りツアー」開催
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                vegeness企画「ヴィーガンレストラン巡りツアー」開催
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                vegeness企画「ヴィーガンレストラン巡りツアー」開催
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                vegeness企画「ヴィーガンレストラン巡りツアー」開催
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                vegeness企画「ヴィーガンレストラン巡りツアー」開催
              </div>
            </a>
          </li>
          <li class="news-item">
            <a href="./detail" class="link">
              <p class="date big">2020.10.18 [mon]</p>
              <div class="news-item--ttl">
                vegeness企画「ヴィーガンレストラン巡りツアー」開催
              </div>
            </a>
          </li>
        </ul><!-- ./news-list -->
        <div class="pagination">
            <p class="pagination-label">0,000件中｜1〜30件 表示</p>
            <div class="pagination-list">
              <a class="ctrl prev" href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="8" viewBox="0 0 7 8">
                  <defs>
                    <style>.a{fill:#7b7b6c;}</style>
                  </defs>
                  <path class="a" d="M928,245.063a1.589,1.589,0,0,0,0,2.952l3.574,2.175c1.334.812,2.426.157,2.426-1.454v-4.395c0-1.611-1.092-2.265-2.426-1.454Z" transform="translate(-927 -242.539)" />
                </svg>
              </a>
              <a class="active" href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
              <div class="pagination-spacer">…</div>
              <a href="">12</a>
              <a class="ctrl next" href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="8.001" viewBox="0 0 7 8.001">
                  <defs>
                    <style>.a{fill:#7b7b6c;}</style>
                  </defs>
                  <path class="a" d="M933,245.063a1.589,1.589,0,0,1,0,2.952l-3.574,2.176c-1.334.812-2.426.157-2.426-1.454v-4.4c0-1.612,1.092-2.266,2.426-1.454Z" transform="translate(-927 -242.539)" />
                </svg>
              </a>
            </div>
          </div><!-- ./pagination -->
      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        @@include('../layouts/sidebar-right.html')
      </div><!-- ./section-recipe--right -->
    </div>
  </section><!-- ./section-recipe -->
  <section class="section advers">
    <div class="container">
      <div class="section-news--advers fadeup">
        <a class="link" href="">
          <img src="/assets/images/top/advers03.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers04.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers05.png" alt="">
        </a>
      </div>
    </div>
  </section><!-- ./section-news -->
</main><!-- ./main -->
@@include('../layouts/footer-end.html')