@@include('../layouts/header-end-nosearch.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>レストラン検索</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe rest">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="p-restaurant">
          <div class="sectionEP-head">
            <div class="sectionEP-titleWrap">
              <h1 class="sectionEP-title fork">レストラン検索</h1>
            </div>
          </div>
          <div class="section-recipe--row">
            <div class="section-restaurant--head">
              <p class="titleLv4 pc-only">キーワードから探す</p>
              <form class="form-one" action="">
                <input class="input big" type="text" name="keyword2" placeholder="食材、店舗名、所在地など">
                <input class="search" type="submit" value="">
              </form>
            </div><!-- ./section-restaurant--head -->
            <form class="section-restaurant--form">
              <div class="section-restaurant--form-cnt">
                <div class="section-restaurant--form-col">
                  <p class="section-recipe--search-label">エリアから探す</p>
                  <div class="form-search">
                    <select class="input" id="restaurant01">
                      <option>都道府県</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                    <select class="input" id="restaurant02">
                      <option>エリア</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                  </div>
                </div>
                <div class="section-restaurant--form-col">
                  <p class="section-recipe--search-label ctrl">ジャンルから探す<span class="js-ctrlToggle sp-only">開く</span></p>
                  <ul class="section-restaurant--cboxList ctrl js-cboxList">
                    <li>
                      <input class="checkbox" id="genre01" type="checkbox" value="value1">
                      <label for="genre01">和食</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre02" type="checkbox" value="value1">
                      <label for="genre02">洋食</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre03" type="checkbox" value="value1">
                      <label for="genre03">イタリアン・フレンチ</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre04" type="checkbox" value="value1">
                      <label for="genre04">韓国料理</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre05" type="checkbox" value="value1">
                      <label for="genre05">中華料理</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre06" type="checkbox" value="value1">
                      <label for="genre06">エスニック料理</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre14" type="checkbox" value="value1">
                      <label for="genre14">ラーメン</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre07" type="checkbox" value="value1">
                      <label for="genre07">カフェ・スイーツ</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre08" type="checkbox" value="value1">
                      <label for="genre08">お好み焼き・もんじゃ</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre09" type="checkbox" value="value1">
                      <label for="genre09">国際料理</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre10" type="checkbox" value="value1">
                      <label for="genre10">ダイニング・居酒屋</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre11" type="checkbox" value="value1">
                      <label for="genre11">ベーカリー</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre12" type="checkbox" value="value1">
                      <label for="genre12">メキシコ料理</label>
                    </li>
                    <li>
                      <input class="checkbox" id="genre13" type="checkbox" value="value1">
                      <label for="genre13">弁当・デリカテッセン</label>
                    </li>
                  </ul>
                </div>
                <div class="section-restaurant--form-col">
                  <p class="section-recipe--search-label ctrl">シーンから探す<span class="js-ctrlToggle sp-only">開く</span></p>
                  <ul class="section-restaurant--cboxList ctrl js-cboxList">
                    <li>
                      <input class="checkbox" id="scene01" type="checkbox" value="value1">
                      <label for="scene01">モーニング</label>
                    </li>
                    <li>
                      <input class="checkbox" id="scene02" type="checkbox" value="value1">
                      <label for="scene02">ランチ</label>
                    </li>
                    <li>
                      <input class="checkbox" id="scene03" type="checkbox" value="value1">
                      <label for="scene03">ディナー</label>
                    </li>
                    <li>
                      <input class="checkbox" id="scene04" type="checkbox" value="value1">
                      <label for="scene04">デート・記念日</label>
                    </li>
                    <li>
                      <input class="checkbox" id="scene05" type="checkbox" value="value1">
                      <label for="scene05">歓送迎会</label>
                    </li>
                    <li>
                      <input class="checkbox" id="scene06" type="checkbox" value="value1">
                      <label for="scene06">接待・会食</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-action">
                <input class="btn-gray" type="submit" value="検索">
                <a class="btn-gray sliver" href="javascript:void(0)">リセット</a>
              </div>
            </form><!-- ./section-restaurant--form -->
          </div><!-- ./section-recipe--row -->
        </div>

        <div class="p-restaurant--advers pc-only">
          <p class="p-restaurant--advers-feeling">オーナー様必見！</p>
          <p class="p-restaurant--advers-question">あなたのレストランを<br>vegenessに掲載しませんか？</p>
          <a href="/" class="btn-view-more2">詳しくはこちら</a>
        </div>

      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        @@include('../layouts/sidebar-right-restaurant.html')
      </div><!-- ./section-recipe--right -->
    </div>
  </section><!-- ./section-recipe -->
  <section class="section advers">
    <div class="container">
      <div class="section-news--advers fadeup">
        <a class="link" href="">
          <img src="/assets/images/top/advers03.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers04.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers05.png" alt="">
        </a>
      </div>
    </div>
  </section><!-- ./section-news -->
</main><!-- ./main -->
@@include('../layouts/footer-end.html')