@@include('../layouts/header-end.html')
<main class="main">
  <div class="container">
    <br><br>
    <div class="breadcrumb">
      <ul>
        <li><a href="/">トップページ</a></li>
        <li>当サイトについて</li>
      </ul>
    </div>
    <div class="no-reset">
      <br><br>
      <p class="pickup-title">パーツ初期表示</p>
      <br><br>
      <p class="pickup-title">ボタンパーツA</p>
      <div class="view-more-wrap">
        <a href="/" class="btn-view-more">レシピ一覧へ</a>
      </div>
      <br><br>
      <p class="pickup-title">ボタンパーツB</p>
      <div class="view-more-wrap">
        <a href="/" class="btn-view-more2">レストラン検索</a>
      </div>
      <br><br>
      <p class="pickup-title">ボタンパーツC</p>
      <div>
        <input class="btn-gray" type="submit" value="検索">
        <a class="btn-gray sliver" href="javascript:void(0)">リセット</a>
      </div>
      <br><br>
      <p class="pickup-title">各種テキストリンク</p>
      <a class="view-more link" href="/">レシピランキング一覧へ</a>
      <br><br>
      <a class="view-more link back" href="/">Back</a>
      <a class="view-more link next" href="/">Next</a>
      <br><br>
      <a class="link-icon blank" href="/" target="_blank">テキストリンク</a>
      <br>
      <a class="link-icon pdf" href="/">テキストリンク</a>
      <br>
      <a class="link-icon excel" href="/">テキストリンク</a>
      <br><br>
      <a class="link underline" href="/">本文中のリンク</a>
      <br><br>
      <a href="">リンク</a>
      <br><br>
      <p class="pickup-title">ページネーション</p>
      <div class="pagination">
        <p class="pagination-label">0,000件中｜1〜30件 表示</p>
        <div class="pagination-list">
          <a class="ctrl prev" href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="8" viewBox="0 0 7 8">
              <defs>
                <style>.a{fill:#7b7b6c;}</style>
              </defs>
              <path class="a" d="M928,245.063a1.589,1.589,0,0,0,0,2.952l3.574,2.175c1.334.812,2.426.157,2.426-1.454v-4.395c0-1.611-1.092-2.265-2.426-1.454Z" transform="translate(-927 -242.539)" />
            </svg>
          </a>
          <a class="active" href="">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <a href="">5</a>
          <a href="">6</a>
          <div class="pagination-spacer">…</div>
          <a href="">12</a>
          <a class="ctrl next" href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="8.001" viewBox="0 0 7 8.001">
              <defs>
                <style>.a{fill:#7b7b6c;}</style>
              </defs>
              <path class="a" d="M933,245.063a1.589,1.589,0,0,1,0,2.952l-3.574,2.176c-1.334.812-2.426.157-2.426-1.454v-4.4c0-1.612,1.092-2.266,2.426-1.454Z" transform="translate(-927 -242.539)" />
            </svg>
          </a>
        </div>
      </div>
      <br><br>
      <p class="pickup-title">矢印送り</p>
      <a href="" class="link-go"></a>
      <br><br>
      <p class="pickup-title">閉じるボタン</p>
      <a href="javascript:void(0)" class="btn-close"></a>
      <br><br>
      <p class="pickup-title">一覧を見るボタン</p>
      <br>
      <a href="" class="link-viewAll link">すべてを見る</a>
      <br><br>
      <p class="pickup-title">カテゴリ</p>
      <span class="label">COLUMN</span>
      <br><br>
      <p class="pickup-title">タグ</p>
      <div>
        <a href="" class="tag">#豆腐</a>
        <a href="" class="tag">#栗</a>
      </div>
      <br><br>
      <p class="pickup-title">パンくず</p>
      <br><br>
      <p class="pickup-title">見出し</p>
      <br>
      <h2 class="titleLv2">コンテンツの見出し</h2>
      <br><br><br><br>
      <h3 class="titleLv3">記事ページの大見出し</h3>
      <br><br>
      <h4 class="titleLv4">記事ページの中見出し</h4>
      <br><br>
      <h4 class="titleLv5">記事ページの小見出し</h4>
      <br><br>
      <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト　テキストテキストテキストテキストテキスト</p>
      <br><br>
      <p class="pickup-title">フォームパーツ</p>
      <br><br>
      <input class="input" type="text" name="" placeholder="入力してください">
      <br>
      <textarea class="input textarea" name="" rows="50" cols="100">入力してください</textarea>
      <br>
      <select class="input" id="select01">
        <option>ジャンルから探す</option>
        <option>キーワード1</option>
        <option>キーワード2</option>
      </select>
      <br>
      <form class="form-one header-search--form" action="">
        <input class="input" type="text" name="keyword" placeholder="レシピをキーワードで探す">
        <input class="search" type="submit" value="">
      </form>
      <br><br>
      <div class="section-restaurant--cboxList ctrl js-cboxList">
        <div>
          <input class="checkbox" id="genre01" type="checkbox" value="value1">
          <label for="genre01">和食</label>
        </div>
        <br>
        <div>
          <input class="checkbox" id="genre02" type="checkbox" value="value1">
          <label for="genre02">洋食</label>
        </div>
      </div>
      <br><br>
      <table>
        <tbody>
          <tr>
            <td>運営会社</td>
            <td>株式会社AKY</td>
          </tr>
          <tr>
            <td>住所</td>
            <td>東京都港区東新橋2-7-3　昭和アステック１号館</td>
          </tr>
          <tr>
            <td>E-mail</td>
            <td>info@aky-net.co.jp</td>
          </tr>
          <tr>
            <td>ウェブサイト</td>
            <td><a rel="noreferrer noopener" href="https://aky-net.co.jp/" target="_blank">https://aky-net.co.jp/</a></td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <div class="blockquote-wrap">
         <blockquote class="wp-block-quote"><p>玄米やきびといった穀米を食べることが減った現在、鉄分不足に悩む人は増えています。飽食で食べ物が余っているのに、人は体に必要な栄養を摂ることをやめ、脂質や糖質ばかり摂るようになってしまったからです。 <br><br>ヴィーガンはそうした不要な栄養を摂らない食生活ですが、納豆や小松菜といった鉄分が多く含まれている食材を意識して摂らないと、やはり鉄分不足に陥る可能性があります。ヘモグロビンの値に異常がなくても、普段から疲れやすかったり、やる気がでなかったりする場合は「隠れ貧血」の可能性があります。詳しくはこちらの記事をどうぞ。</p></blockquote>
       </div>
       <br><br>
       <ul>
         <li>正しい歯磨きができていない</li>
         <li>甘いものをだらだらと食べている</li>
       </ul>
    </div>
  </div>
</main><!-- ./main -->
@@include('../layouts/footer-end.html')