@@include('../../layouts/header-end-after-login.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li><a href="/recipe">レシピ一覧</a></li>
          <li>栗を丸ごと包んだ・豆腐だんごのすまし汁</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe end">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="sectionEP-head">
          <div class="sectionEP-titleWrap type2">
            <div class="sectionEP-titleInfor">
              <span class="tag type2">和食</span>
              <span class="date big">2020.10.18 [mon]</span>
            </div>
            <h1 class="sectionEP-title type2">栗を丸ごと包んだ・豆腐だんごのすまし汁</h1>
          </div>
        </div>
        <div class="section-recipe--row">

          <div class="recipe-mv">
            <div class="recipe-mv--thumbWrap">
              <div class="recipe-mv--thumb">
                <img src="/assets/images/recipe/recipe-detail.png" alt="">
              </div>
              <a href="javascript:void:(0)" class="link btn-clip active" data-remodal-target="modal-clip"><span>クリップする</span></a>
            </div>
            <p class="recipe-mv--des">豆腐と小麦粉で作った生地で栗を丸ごと包みました。椎茸と人参・小松菜を入れて彩り豊かに。秋ならではのすまし汁です。</p>
          </div><!-- ./recipe-mv -->     
          <div class="recipe-inforMV">
            <div class="recipe-inforMV--row">
              <p class="recipe-inforMV--row-ttl">このレシピのキーワード</p>
              <div>
                <span class="tag">#豆腐</span>
                <span class="tag">#栗</span>
                <span class="tag">#スープ</span>
                <span class="tag">#秋野菜</span>
                <span class="tag">#高タンパク質</span>
              </div>
            </div>
            <div class="recipe-inforMV--row">
              <div class="recipe-inforMV--detail">
                <div class="recipe-inforMV--detail-item">
                  <p class="recipe-inforMV--row-ttl">カロリー</p>
                  <span class="recipe-item kcal">150kcal</span>
                </div>
                <div class="recipe-inforMV--detail-item">
                  <p class="recipe-inforMV--row-ttl">所要時間</p>
                  <div class="recipe-item--time">
                    <span class="recipe-item time">30分</span>
                    <p class="recipe-inforMV--summary">準備時間：5分<span class="pc-only2">／</span><br class="sp-only">調理時間：25分</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- ./recipe-inforMV -->    

          <div class="recipe-inforTable">
            <div class="recipe-inforTable--col">
              <div class="recipe-inforTable--titleWrap">
                <h2 class="titleLv3">材料</h2>
                <select class="input selectMulti">
                  <option>１人前</option>
                  <option>2人前</option>
                  <option>3人前</option>
                </select>
              </div>
              <div class="recipe-inforTable--cnt">
                <table>
                  <tr>
                    <th><a href="">和栗</a></th>
                    <td>4個</td>
                  </tr>
                  <tr>
                    <th><a href="">木綿豆腐</a></th>
                    <td>150g</td>
                  </tr>
                  <tr>
                    <th><a href="">薄力粉</a></th>
                    <td>70g</td>
                  </tr>
                  <tr>
                    <th><a href="">白ごま</a></th>
                    <td>小さじ1</td>
                  </tr>
                  <tr>
                    <th><a href="">椎茸</a></th>
                    <td>2個</td>
                  </tr>
                  <tr>
                    <th><a href="">人参</a></th>
                    <td>1/4本</td>
                  </tr>
                  <tr>
                    <th><a href="">小松菜</a></th>
                    <td>3枚</td>
                  </tr>
                  <tr>
                    <th><a href="">水</a></th>
                    <td>900ml</td>
                  </tr>
                  <tr>
                    <th><a href="">☆顆粒昆布だし</a></th>
                    <td>6g</td>
                  </tr>
                  <tr>
                    <th><a href="">☆日本酒</a></th>
                    <td>大さじ1</td>
                  </tr>
                  <tr>
                    <th><a href="">☆塩</a></th>
                    <td>1つまみ</td>
                  </tr>
                  <tr>
                    <th><a href="">水溶き片栗粉</a></th>
                    <td>大さじ1</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="recipe-inforTable--col">
              <div class="recipe-inforTable--titleWrap type2">
                <h2 class="titleLv3">栄養素</h2>
                <p class="recipe-inforTable--note">※1人前あたり</p>
              </div>
              <div class="recipe-inforTable--cnt">
                <table class="nutrients">
                  <tr>
                    <th>エネルギー</th>
                    <td>150kcal</td>
                  </tr>
                  <tr>
                    <th>炭水化物</th>
                    <td>26g</td>
                  </tr>
                  <tr class="active">
                    <th>タンパク質</th>
                    <td>5.5g</td>
                  </tr>
                  <tr>
                    <th>脂質</th>
                    <td>2.3g</td>
                  </tr>
                  <tr>
                    <th>飽和脂肪酸</th>
                    <td>0.38g</td>
                  </tr>
                  <tr>
                    <th>多価不飽和脂肪酸</th>
                    <td>1.15g</td>
                  </tr>
                  <tr>
                    <th>一価不飽和脂肪酸</th>
                    <td>0.42g</td>
                  </tr>
                  <tr class="active">
                    <th>コレステロール</th>
                    <td>0mg</td>
                  </tr>
                  <tr>
                    <th>食塩相当量</th>
                    <td>1.27g</td>
                  </tr>
                  <tr>
                    <th>カリウム</th>
                    <td>250mg</td>
                  </tr>
                  <tr>
                    <th>食物繊維</th>
                    <td>2.1g</td>
                  </tr>
                  <tr>
                    <th>糖質</th>
                    <td>23.7g</td>
                  </tr>
                  <tr>
                    <th>カルシウム</th>
                    <td>64mg</td>
                  </tr>
                  <tr>
                    <th>鉄</th>
                    <td>0.8mg</td>
                  </tr>
                </table>
              </div>
            </div>
          </div><!-- ./recipe-inforTable --> 

          <div class="recipe-howtomake">
            <h2 class="titleLv4">作り方</h2>
            <ol class="recipe-howtomake--list">
              <li>
                <p class="recipe-howtomake--des">ボウルに皮を剥いた栗と水(栗が1/3浸る位)を入れて電子レンジで2分30秒程加熱する(700w)。 ザルにあけ水気を切る。</p>
              </li>
              <li>
                <p class="recipe-howtomake--des">軽く水切りした豆腐と薄力粉をボウルに入れ良く捏ねる。</p>
                <p class="recipe-howtomake--thumb">
                  <img src="/assets/images/common/dummy.png" alt="">
                </p>
              </li>
              <li>
                <p class="recipe-howtomake--des">捏ね終わったら白ごまを加え、更に捏ねる。</p>
                <p class="recipe-howtomake--thumb">
                  <img src="/assets/images/common/dummy.png" alt="">
                </p>
              </li>
              <li>
                <p class="recipe-howtomake--des">手を水で軽く濡らし生地で栗を包む。</p>
                <p class="recipe-howtomake--thumb">
                  <img src="/assets/images/common/dummy.png" alt="">
                </p>
              </li>
              <li>
                <p class="recipe-howtomake--des">包んだ後の状態です。</p>
                <p class="recipe-howtomake--thumb">
                  <img src="/assets/images/common/dummy.png" alt="">
                </p>
              </li>
              <li>
                <p class="recipe-howtomake--des">鍋に水を入れて沸かし、薄切りにした椎茸を入れる。強火で沸騰した状態で栗入りだんごを投入する。 ※だんご同士がくっつかないよう間隔をあけて入れる。</p>
                <p class="recipe-howtomake--thumb">
                  <img src="/assets/images/common/dummy.png" alt="">
                </p>
              </li>
              <li>
                <p class="recipe-howtomake--des">だんごが表面に浮いて来たら、火を中火にし、☆の調味料と細切り人参を入れて5分程煮る。</p>
                <p class="recipe-howtomake--thumb">
                  <img src="/assets/images/common/dummy.png" alt="">
                </p>
              </li>
              <li>
                <p class="recipe-howtomake--des">だんごが表面に浮いて来たら、火を中火にし、☆の調味料と細切り人参を入れて5分程煮る。</p>
              </li>
              <li>
                <p class="recipe-howtomake--des">塩茹でした小松菜を添えて完成です。 ※画像は中身が分かりやすいようだんごをカットした状態です。</p>
                <p class="recipe-howtomake--thumb">
                  <img src="/assets/images/common/dummy.png" alt="">
                </p>
              </li>
              <li>
                <p class="recipe-howtomake--des">だんごが表面に浮いて来たら、火を中火にし、☆の調味料と細切り人参を入れて5分程煮る。</p>
                <p class="recipe-howtomake--thumb">
                  <img src="/assets/images/common/dummy.png" alt="">
                </p>
              </li>
            </ol>
          </div><!-- ./recipe-howtomake --> 

          <div class="recipe-messageBox">
            <p class="recipe-messageBox--feeling">豆腐入りだんごが、モチモチして美味しいです。中から丸ごとの栗が出て来たら、なんだか嬉しくなっちゃいますね^ ^</p>
            <a href="javascript:void(0)" class="link btn-clip" data-remodal-target="modal-clip"><span>このレシピをクリップする</span></a>
            <div class="socialBox">
              <a href="" class="socialBox-item link" target="_blank">
                <img src="/assets/images/common/icon-twitter.png" alt="">
              </a>
              <a href="" class="socialBox-item link" target="_blank">
                <img src="/assets/images/common/icon-facebook.png" alt="">
              </a>
              <a href="" class="socialBox-item link" target="_blank">
                <img src="/assets/images/common/icon-insta.png" alt="">
              </a>
            </div>
            <a href="/" class="btn-view-more">レシピ一覧へ</a>
          </div>

          <div class="pickup-suggest">
            <h3 class="titleLv2">関連するレシピ</h3>
            <ul class="pickup-suggest--list">
              <li>
                <a href="/recipe/detail" class="link">
                  <div class="pickup-suggest--thumb">
                    <img src="/assets/images/top/new01.png" alt="">
                  </div>
                  <p class="date big">2020.10.18 [mon]</p>
                  <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                  </p>
                </a>
              </li>
              <li>
                <a href="/recipe/detail" class="link">
                  <div class="pickup-suggest--thumb">
                    <img src="/assets/images/top/new01.png" alt="">
                  </div>
                  <p class="date big">2020.10.18 [mon]</p>
                  <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                  </p>
                </a>
              </li>
              <li>
                <a href="/recipe/detail" class="link">
                  <div class="pickup-suggest--thumb">
                    <img src="/assets/images/top/new01.png" alt="">
                  </div>
                  <p class="date big">2020.10.18 [mon]</p>
                  <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                  </p>
                </a>
              </li>
              <li>
                <a href="/recipe/detail" class="link">
                  <div class="pickup-suggest--thumb">
                    <img src="/assets/images/top/new01.png" alt="">
                  </div>
                  <p class="date big">2020.10.18 [mon]</p>
                  <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                  </p>
                </a>
              </li>
            </ul>
          </div><!-- ./pickup-suggest -->

          <div class="recipe-selection">
            <h3 class="titleLv2">関連するレシピ</h3>
            <div class="section-recipe--selectionList">
              <div class="section-recipe--selection">
                <a href="" class="section-recipe--selection-inner link">
                  <div class="section-recipe--selection-thumb">
                    <img src="/assets/images/top/selection01.png" alt="">
                  </div>
                  <div class="section-recipe--selection-cnt pickup-title">ハロウィンにもヴィーガンを！見た目もオシャレなハロウィンメニュー８選
                  </div>
                </a>
              </div>
              <div class="section-recipe--selection">
                <a href="" class="section-recipe--selection-inner link">
                  <div class="section-recipe--selection-thumb">
                    <img src="/assets/images/top/selection02.png" alt="">
                  </div>
                  <div class="section-recipe--selection-cnt pickup-title">肉にも負けないタンパク質がとれる！タンパク質が豊富なヴィーガンメニュー8選！
                  </div>
                </a>
              </div>
              <div class="section-recipe--selection">
                <a href="" class="section-recipe--selection-inner link">
                  <div class="section-recipe--selection-thumb">
                    <img src="/assets/images/top/selection03.png" alt="">
                  </div>
                  <div class="section-recipe--selection-cnt pickup-title">この組み合わせで骨を丈夫に！カルシウムが多いヴィーガンメニュー7選！
                  </div>
                </a>
              </div>
            </div>
          </div><!-- ./recipe-selection -->

        </div><!-- ./section-recipe--row -->
      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        @@include('../../layouts/sidebar-right-result.html')
      </div><!-- ./section-recipe--right -->
    </div>
  </section><!-- ./section-recipe -->
  <section class="section advers">
    <div class="container">
      <div class="section-news--advers fadeup">
        <a class="link" href="">
          <img src="../../assets/images/top/advers03.png" alt="">
        </a>
        <a class="link" href="">
          <img src="../../assets/images/top/advers04.png" alt="">
        </a>
        <a class="link" href="">
          <img src="../../assets/images/top/advers05.png" alt="">
        </a>
      </div>
    </div>
  </section><!-- ./section-news -->
</main><!-- ./main -->

<!-- modal box -->
<div class="remodal" data-remodal-id="modal-clip"
  data-remodal-options="hashTracking: false, closeOnOutsideClick: false">

  <button data-remodal-action="close" class="remodal-close btn-close"></button>
  <h3 class="remodal-ttl">お気に入りのレシピを手軽に”クリップ”</h3>
  <p class="desc align-center">クリップはお気に入りのレシピを保存できる機能です。 <br>ご利用には無料の会員登録が必要です。 <br>ログイン後はどなたでもご利用いただけます。</p>
  <a href="/signup" class="btn-gray">会員登録する</a><br>
  <a class="link underline" href="/login">既に登録済みの方はこちら</a>
</div>
<!-- ./modal box -->

@@include('../../layouts/footer-end-detail.html')