@@include('./layouts/header.html')
<main class="main">
      <section class="main-visual">
        <div class="container">
          <div class="main-visual--left fadeup2">
            <div class="pickup">
              <a href="" class="link">
                <div class="pickup-thumb big">
                  <div class="pickup-thumb--img">
                    <img src="/assets/images/top/pickup01.png" alt="">
                  </div>
                </div>
                <div class="pickup-cnt">
                  <h3 class="pickup-title big">
                    <span class="label-orangeWrap type2">
                      <span class="label-orange">会員限定</span>&nbsp;
                      <span class="icon-lockOrange"></span>
                    </span>赤しそ風味！厚揚げのゆかり衣揚げ
                  </h3>
                  <div class="pickup-dateWrap"><span class="date big">2020.10.18 [mon]</span><span class="label">RECIPE</span></div>
                </div>
              </a>
            </div>
          </div>
          <div class="main-visual--right fadeup2">
            <div class="pickup">
              <a href="" class="link">
                <div class="pickup-thumb mvTop">
                  <img src="/assets/images/top/pickup02.png" alt="">
                </div>
                <div class="pickup-cnt">
                  <h3 class="pickup-title">肉にも負けない！タンパク質が豊富なヴィーガンメニュー8選！</h3>
                  <div class="pickup-dateWrap d-flex">
                    <span class="label-orangeWrap type2">
                      <span class="label-orange type2">会員限定</span>&nbsp;
                      <span class="icon-lockOrange type2"></span>
                    </span>
                    <span class="date">2020.10.18 [mon]</span>
                    <br class="sp-only">
                    <span class="label">COLUMN</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="pickup">
              <a href="" class="link">
                <div class="pickup-thumb mvTop">
                  <img src="/assets/images/top/pickup03.png" alt="">
                </div>
                <div class="pickup-cnt">
                  <h3 class="pickup-title">プチギフトにおすすめ！サクサク食感のグルテンフリーバーが登場！</h3>
                  <div class="pickup-dateWrap d-flex">
                    <span class="label-orangeWrap type2">
                      <span class="label-orange type2">会員限定</span>&nbsp;
                      <span class="icon-lockOrange type2"></span>
                    </span>
                    <span class="date">2020.10.18 [mon]</span>
                    <br class="sp-only">
                    <span class="label">PR</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section><!-- ./main visual -->
      <section class="section recipe">
        <div class="container">
          <div class="section-recipe--left">
            <div class="section-recipe--row fadeup">
              <h2 class="section-title">New!<span>新着レシピ</span></h2>
              <div class="section-recipe--pickupList">
                <div class="section-recipe--pickup">
                  <div class="section-recipe--pickup-inner">
                    <div class="section-recipe--pickup-thumb">
                      <a href="/recipe/detail" class="link"><img src="/assets/images/top/new01.png" alt=""></a>
                    </div>
                    <div class="section-recipe--pickup-cnt">
                      <span class="label-orangeWrap type2 mgb-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <h3 class="pickup-title big link"><a href="">栗を丸ごと包んだ・豆腐だんごのすまし汁</a></h3>
                      <div class="pc-only">
                        <a href="" class="tag">#豆腐</a>
                        <a href="" class="tag">#栗</a>
                        <a href="" class="tag">#スープ</a>
                        <a href="" class="tag">#秋野菜</a>
                        <a href="" class="tag">#高タンパク質</a>
                      </div>
                      <div class="pickup-infor pc-only">
                        <span>洋食</span>
                        <span class="time">10分</span>
                        <span class="kcal">200kcal</span>
                      </div>
                    </div>
                  </div>
                  <div class="sp-only">
                    <a href="" class="tag">#豆腐</a>
                    <a href="" class="tag">#栗</a>
                    <a href="" class="tag">#スープ</a>
                    <a href="" class="tag">#秋野菜</a>
                    <a href="" class="tag">#高タンパク質</a>
                  </div>
                  <div class="pickup-infor sp-only">
                    <span>洋食</span>
                    <span class="time">10分</span>
                    <span class="kcal">200kcal</span>
                  </div>
                </div><!-- ./section-recipe--pickup -->
                <div class="section-recipe--pickup">
                  <div class="section-recipe--pickup-inner">
                    <div class="section-recipe--pickup-thumb">
                      <a href="/recipe/detail" class="link"><img src="/assets/images/top/new02.png" alt=""></a>
                    </div>
                    <div class="section-recipe--pickup-cnt">
                      <span class="label-orangeWrap type2 mgb-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <h3 class="pickup-title big link"><a href="">栄養たっぷり♪雑穀とわかめ・生姜の炊き込みご飯</a></h3>
                      <div class="pc-only">
                        <a href="" class="tag">#豆腐</a>
                        <a href="" class="tag">#栗</a>
                        <a href="" class="tag">#スープ</a>
                        <a href="" class="tag">#秋野菜</a>
                        <a href="" class="tag">#高タンパク質</a>
                      </div>
                      <div class="pickup-infor pc-only">
                        <span>洋食</span>
                        <span class="time">10分</span>
                        <span class="kcal">200kcal</span>
                      </div>
                    </div>
                  </div>
                  <div class="sp-only">
                    <a href="" class="tag">#豆腐</a>
                    <a href="" class="tag">#栗</a>
                    <a href="" class="tag">#スープ</a>
                    <a href="" class="tag">#秋野菜</a>
                    <a href="" class="tag">#高タンパク質</a>
                  </div>
                  <div class="pickup-infor sp-only">
                    <span>洋食</span>
                    <span class="time">10分</span>
                    <span class="kcal">200kcal</span>
                  </div>
                </div><!-- ./section-recipe--pickup -->
                <div class="section-recipe--pickup">
                  <div class="section-recipe--pickup-inner">
                    <div class="section-recipe--pickup-thumb">
                      <a href="/recipe/detail" class="link"><img src="/assets/images/top/new03.png" alt=""></a>
                    </div>
                    <div class="section-recipe--pickup-cnt">
                      <span class="label-orangeWrap type2 mgb-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <h3 class="pickup-title big link"><a href="">熱々・ホクホク☆秋野菜5種のホイル焼き</a></h3>
                      <div class="pc-only">
                        <a href="" class="tag">#豆腐</a>
                        <a href="" class="tag">#栗</a>
                        <a href="" class="tag">#スープ</a>
                        <a href="" class="tag">#秋野菜</a>
                        <a href="" class="tag">#高タンパク質</a>
                      </div>
                      <div class="pickup-infor pc-only">
                        <span>洋食</span>
                        <span class="time">10分</span>
                        <span class="kcal">200kcal</span>
                      </div>
                    </div>
                  </div>
                  <div class="sp-only">
                    <a href="" class="tag">#豆腐</a>
                    <a href="" class="tag">#栗</a>
                    <a href="" class="tag">#スープ</a>
                    <a href="" class="tag">#秋野菜</a>
                    <a href="" class="tag">#高タンパク質</a>
                  </div>
                  <div class="pickup-infor sp-only">
                    <span>洋食</span>
                    <span class="time">10分</span>
                    <span class="kcal">200kcal</span>
                  </div>
                </div><!-- ./section-recipe--pickup -->
                <div class="section-recipe--pickup">
                  <div class="section-recipe--pickup-inner">
                    <div class="section-recipe--pickup-thumb">
                      <a href="/recipe/detail" class="link"><img src="/assets/images/top/new04.png" alt=""></a>
                    </div>
                    <div class="section-recipe--pickup-cnt">
                      <span class="label-orangeWrap type2 mgb-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <h3 class="pickup-title big link"><a href="">スプーンで♪かぼちゃとおからのクリームコロッケ</a></h3>
                      <div class="pc-only">
                        <a href="" class="tag">#豆腐</a>
                        <a href="" class="tag">#栗</a>
                        <a href="" class="tag">#スープ</a>
                        <a href="" class="tag">#秋野菜</a>
                        <a href="" class="tag">#高タンパク質</a>
                      </div>
                      <div class="pickup-infor pc-only">
                        <span>洋食</span>
                        <span class="time">10分</span>
                        <span class="kcal">200kcal</span>
                      </div>
                    </div>
                  </div>
                  <div class="sp-only">
                    <a href="" class="tag">#豆腐</a>
                    <a href="" class="tag">#栗</a>
                    <a href="" class="tag">#スープ</a>
                    <a href="" class="tag">#秋野菜</a>
                    <a href="" class="tag">#高タンパク質</a>
                  </div>
                  <div class="pickup-infor sp-only">
                    <span>洋食</span>
                    <span class="time">10分</span>
                    <span class="kcal">200kcal</span>
                  </div>
                </div><!-- ./section-recipe--pickup -->
                <div class="section-recipe--pickup">
                  <div class="section-recipe--pickup-inner">
                    <div class="section-recipe--pickup-thumb">
                      <a href="/recipe/detail" class="link"><img src="/assets/images/top/new05.png" alt=""></a>
                    </div>
                    <div class="section-recipe--pickup-cnt">
                      <span class="label-orangeWrap type2 mgb-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <h3 class="pickup-title big link"><a href="">プチ和風カフェ気分♪きな粉入り・抹茶豆乳ラテ</a></h3>
                      <div class="pc-only">
                        <a href="" class="tag">#豆腐</a>
                        <a href="" class="tag">#栗</a>
                        <a href="" class="tag">#スープ</a>
                        <a href="" class="tag">#秋野菜</a>
                        <a href="" class="tag">#高タンパク質</a>
                      </div>
                      <div class="pickup-infor pc-only">
                        <span>洋食</span>
                        <span class="time">10分</span>
                        <span class="kcal">200kcal</span>
                      </div>
                    </div>
                  </div>
                  <div class="sp-only">
                    <a href="" class="tag">#豆腐</a>
                    <a href="" class="tag">#栗</a>
                    <a href="" class="tag">#スープ</a>
                    <a href="" class="tag">#秋野菜</a>
                    <a href="" class="tag">#高タンパク質</a>
                  </div>
                  <div class="pickup-infor sp-only">
                    <span>洋食</span>
                    <span class="time">10分</span>
                    <span class="kcal">200kcal</span>
                  </div>
                </div><!-- ./section-recipe--pickup -->
              </div><!-- ./section-recipe--pickupList -->
              <div class="view-more-wrap">
                <a href="/recipe" class="btn-view-more">レシピ一覧へ</a>
              </div>
            </div><!-- ./section-recipe--row -->
            <div class="section-recipe--row fadeup">
              <h2 class="section-title orange">Selection<span>レシピ特集</span></h2>
              <div class="section-recipe--selectionList">
                <div class="section-recipe--selection">
                  <a href="" class="section-recipe--selection-inner link">
                    <div class="section-recipe--selection-thumb">
                      <img src="/assets/images/top/selection01.png" alt="">
                    </div>
                    <div class="section-recipe--selection-cnt pickup-title">ハロウィンにもヴィーガンを！見た目もオシャレなハロウィンメニュー８選
                    </div>
                  </a>
                </div>
                <div class="section-recipe--selection">
                  <a href="" class="section-recipe--selection-inner link">
                    <div class="section-recipe--selection-thumb">
                      <img src="/assets/images/top/selection02.png" alt="">
                    </div>
                    <div class="section-recipe--selection-cnt pickup-title">肉にも負けないタンパク質がとれる！タンパク質が豊富なヴィーガンメニュー8選！
                    </div>
                  </a>
                </div>
                <div class="section-recipe--selection">
                  <a href="" class="section-recipe--selection-inner link">
                    <div class="section-recipe--selection-thumb">
                      <img src="/assets/images/top/selection03.png" alt="">
                    </div>
                    <div class="section-recipe--selection-cnt pickup-title">この組み合わせで骨を丈夫に！カルシウムが多いヴィーガンメニュー7選！
                    </div>
                  </a>
                </div>
              </div><!-- ./section-recipe--selectionList -->
            </div><!-- ./section-recipe--row -->
          </div><!-- ./section-recipe--left -->
          <div class="section-recipe--right fadeup">
            <div class="section-recipe--right-inner">
              <div class="section-recipe--search pc-only">
                <p class="label-msg"><span>レシピを探す</span></p>
                <div class="form-oneWrap">
                  <p class="section-recipe--search-label">キーワードで探す</p>
                  <form class="form-one" action="">
                    <input class="input" type="text" name="keyword2" placeholder="料理名、レシピ名など">
                    <input class="search" type="submit" value="">
                  </form>
                </div>
                <div class="form-suggest">
                  <p class="form-suggest--label">よく検索されるキーワード</p>
                  <div>
                    <a href="" class="tag">#豆腐</a>
                    <a href="" class="tag">#栗</a>
                    <a href="" class="tag">#スープ</a>
                    <a href="" class="tag">#秋野菜</a>
                    <a href="" class="tag">#高タンパク質</a>
                    <a href="" class="tag">#海藻</a>
                  </div>
                </div>
                <div class="form-searchWrap">
                  <p class="section-recipe--search-label">条件を選択して探す</p>
                  <form class="form-search" action="">
                    <select class="input" id="select01">
                      <option>ジャンルから探す</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                    <select class="input" id="select02">
                      <option>メニューから探す</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                    <select class="input" id="select03">
                      <option>材料から探す</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                    <select class="input" id="select04">
                      <option>季節から探す</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                    <div class="form-action">
                      <input class="btn-gray" type="submit" value="検索">
                      <a class="btn-gray sliver" href="javascript:void(0)">リセット</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="section-recipe--ranking">
                <p class="label-msg ranking"><span>人気レシピランキング</span></p>
                <ul class="ranking-list">
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="section-recipe--ranking-viewmore">
                  <a class="view-more link" href="/recipe/ranking">レシピランキング一覧へ</a>
                </div>
              </div>
              <div class="section-recipe--advers">
                <a class="link" href="">
                  <img src="/assets/images/top/advers01.png" alt="">
                </a>
                <a class="link" href="">
                  <img src="/assets/images/top/advers02.png" alt="">
                </a>
              </div>
            </div>
          </div><!-- ./section-recipe--right -->
        </div>
      </section><!-- ./section-recipe -->
      <section class="section column fadeup">
        <div class="container">
          <h2 class="section-column--title">
            <img src="/assets/images/top/column_ttl.svg" alt="Vegan column">
          </h2>
          <p class="section-column--des">ヴィーガンの基礎知識からお野菜の豆知識まで<br class="sp-only">幅広い情報を発信！</p>
          <div class="tabs-listWrap">
            <div class="tabs-list">
              <a href="" class="tabs-item active">すべて</a>
              <a href="" class="tabs-item">豆知識</a>
              <a href="" class="tabs-item">マクロビオティック</a>
              <a href="" class="tabs-item">ファスティング</a>
              <a href="" class="tabs-item">ヴィーガンについて</a>
            </div>
          </div>
          <ul class="section-column--list">
            <li class="section-column--item">
              <a class="link" href="/blog/detail">
                <div class="section-column--item-thumb">
                  <img src="/assets/images/top/column01.png" alt="">
                </div>
                <div class="section-column--item-cnt">
                  <div>
                    <span class="date big">2020.10.18 [mon]</span><br class="sp-only">
                    <span class="tag">#豆腐</span>
                  </div>
                  <div class="section-column--item-des">
                    ヴィーガンはノーベル平和賞と関係が深い！！〜持続可能な世界とヴィーガン〜
                  </div>
                </div>
              </a>
            </li>
            <li class="section-column--item">
              <a class="link" href="/blog/detail">
                <div class="section-column--item-thumb">
                  <img src="/assets/images/top/column02.png" alt="">
                </div>
                <div class="section-column--item-cnt">
                  <div>
                    <span class="date big">2020.10.18 [mon]</span><br class="sp-only">
                    <span class="tag">#豆腐</span>
                  </div>
                  <div class="section-column--item-des">
                    実はあの人もヴィーガン！日本の有名人でヴィーガンを実践している人
                  </div>
                </div>
              </a>
            </li>
            <li class="section-column--item">
              <a class="link" href="/blog/detail">
                <div class="section-column--item-thumb">
                  <img src="/assets/images/top/column03.png" alt="">
                </div>
                <div class="section-column--item-cnt">
                  <div>
                    <span class="date big">2020.10.18 [mon]</span><br class="sp-only">
                    <span class="tag">#豆腐</span>
                  </div>
                  <div class="section-column--item-des">
                    ヴィーガンで肌はキレイになる！？その理由と仕組みを徹底解説
                  </div>
                </div>
              </a>
            </li>
            <li class="section-column--item">
              <a class="link" href="/blog/detail">
                <div class="section-column--item-thumb">
                  <img src="/assets/images/top/column01.png" alt="">
                </div>
                <div class="section-column--item-cnt">
                  <div>
                    <span class="date big">2020.10.18 [mon]</span><br class="sp-only">
                    <span class="tag">#豆腐</span>
                  </div>
                  <div class="section-column--item-des">
                    ヴィーガンはノーベル平和賞と関係が深い！！〜持続可能な世界とヴィーガン〜
                  </div>
                </div>
              </a>
            </li>
            <li class="section-column--item">
              <a class="link" href="/blog/detail">
                <div class="section-column--item-thumb">
                  <img src="/assets/images/top/column02.png" alt="">
                </div>
                <div class="section-column--item-cnt">
                  <div>
                    <span class="date big">2020.10.18 [mon]</span><br class="sp-only">
                    <span class="tag">#豆腐</span>
                  </div>
                  <div class="section-column--item-des">
                    ヴィーガンはノーベル平和賞と関係が深い〜持続可能な世界とヴィーガン〜
                  </div>
                </div>
              </a>
            </li>
            <li class="section-column--item">
              <a class="link" href="/blog/detail">
                <div class="section-column--item-thumb">
                  <img src="/assets/images/top/column03.png" alt="">
                </div>
                <div class="section-column--item-cnt">
                  <div>
                    <span class="date big">2020.10.18 [mon]</span><br class="sp-only">
                    <span class="tag">#豆腐</span>
                  </div>
                  <div class="section-column--item-des">
                    実はあの人もヴィーガン！
                  </div>
                </div>
              </a>
            </li>
            <li class="section-column--item">
              <a class="link" href="/blog/detail">
                <div class="section-column--item-thumb">
                  <img src="/assets/images/top/column01.png" alt="">
                </div>
                <div class="section-column--item-cnt">
                  <div>
                    <span class="date big">2020.10.18 [mon]</span><br class="sp-only">
                    <span class="tag">#豆腐</span>
                  </div>
                  <div class="section-column--item-des">
                    ヴィーガンで肌はキレイになる！？その理由と仕組みを徹底解説
                  </div>
                </div>
              </a>
            </li>
            <li class="section-column--item">
              <a class="link" href="/blog/detail">
                <div class="section-column--item-thumb">
                  <img src="/assets/images/top/column02.png" alt="">
                </div>
                <div class="section-column--item-cnt">
                  <div>
                    <span class="date big">2020.10.18 [mon]</span><br class="sp-only">
                    <span class="tag">#豆腐</span>
                  </div>
                  <div class="section-column--item-des">
                    ヴィーガンはノーベル平和賞と関係が深い！！〜持続可能な世界とヴィーガン〜
                  </div>
                </div>
              </a>
            </li>
          </ul><!-- ./section-column--list -->
          <div class="view-more-wrap">
            <a href="/blog" class="btn-view-more">コラム一覧へ</a>
          </div>
        </div>
      </section><!-- ./section-column -->
      <section class="section restaurant">
        <div class="container">
          <div class="section-restaurant--head fadeup">
            <h2 class="section-title green02">Restaurant<span>レストランを探す</span></h2>
            <p class="pickup-title">ヴィーガンメニューを提供するレストランを<br class="sp-only">全国から検索できます。</p>
            <form class="form-one" action="">
              <input class="input" type="text" name="keyword2" placeholder="キーワードから探す">
              <input class="search" type="submit" value="">
            </form>
          </div><!-- ./section-restaurant--head -->
          <form class="section-restaurant--form fadeup">
            <div class="section-restaurant--form-cnt">
              <div class="section-restaurant--form-col">
                <p class="section-recipe--search-label">条件を選択して探す</p>
                <div class="form-search">
                  <select class="input" id="restaurant01">
                    <option>都道府県</option>
                    <option>キーワード1</option>
                    <option>キーワード2</option>
                  </select>
                  <select class="input" id="restaurant02">
                    <option>エリア</option>
                    <option>キーワード1</option>
                    <option>キーワード2</option>
                  </select>
                </div>
              </div>
              <div class="section-restaurant--form-col">
                <p class="section-recipe--search-label ctrl">ジャンルから探す<span class="js-ctrlToggle sp-only">開く</span></p>
                <ul class="section-restaurant--cboxList ctrl js-cboxList">
                  <li>
                    <input class="checkbox" id="genre01" type="checkbox" value="value1">
                    <label for="genre01">和食</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre02" type="checkbox" value="value1">
                    <label for="genre02">洋食</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre03" type="checkbox" value="value1">
                    <label for="genre03">イタリアン・フレンチ</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre04" type="checkbox" value="value1">
                    <label for="genre04">韓国料理</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre05" type="checkbox" value="value1">
                    <label for="genre05">中華料理</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre06" type="checkbox" value="value1">
                    <label for="genre06">エスニック料理</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre14" type="checkbox" value="value1">
                    <label for="genre14">ラーメン</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre07" type="checkbox" value="value1">
                    <label for="genre07">カフェ・スイーツ</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre08" type="checkbox" value="value1">
                    <label for="genre08">お好み焼き・もんじゃ</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre09" type="checkbox" value="value1">
                    <label for="genre09">国際料理</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre10" type="checkbox" value="value1">
                    <label for="genre10">ダイニング・居酒屋</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre11" type="checkbox" value="value1">
                    <label for="genre11">ベーカリー</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre12" type="checkbox" value="value1">
                    <label for="genre12">メキシコ料理</label>
                  </li>
                  <li>
                    <input class="checkbox" id="genre13" type="checkbox" value="value1">
                    <label for="genre13">弁当・デリカテッセン</label>
                  </li>
                </ul>
              </div>
              <div class="section-restaurant--form-col">
                <p class="section-recipe--search-label ctrl">シーンから探す<span class="js-ctrlToggle sp-only">開く</span></p>
                <ul class="section-restaurant--cboxList ctrl js-cboxList">
                  <li>
                    <input class="checkbox" id="scene01" type="checkbox" value="value1">
                    <label for="scene01">モーニング</label>
                  </li>
                  <li>
                    <input class="checkbox" id="scene02" type="checkbox" value="value1">
                    <label for="scene02">ランチ</label>
                  </li>
                  <li>
                    <input class="checkbox" id="scene03" type="checkbox" value="value1">
                    <label for="scene03">ディナー</label>
                  </li>
                  <li>
                    <input class="checkbox" id="scene04" type="checkbox" value="value1">
                    <label for="scene04">デート・記念日</label>
                  </li>
                  <li>
                    <input class="checkbox" id="scene05" type="checkbox" value="value1">
                    <label for="scene05">歓送迎会</label>
                  </li>
                  <li>
                    <input class="checkbox" id="scene06" type="checkbox" value="value1">
                    <label for="scene06">接待・会食</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-action">
              <input class="btn-gray" type="submit" value="検索">
              <a class="btn-gray sliver" href="javascript:void(0)">リセット</a>
            </div>
          </form><!-- ./section-restaurant--form -->
        </div>
      </section><!-- ./section-restaurant -->
      <section class="section news">
        <div class="container">
          <div class="section-news--cnt fadeup">
            <div class="section-news--ttl">
              <h2 class="section-title2">News<br class="pc-only"><span>お知らせ</span></h2>
            </div>
            <div class="section-news--listWrap">
              <ul class="section-news--list">
                <li>
                  <a class="link" href="/news/detail">
                    <p class="date">2020.10.18 [mon]</p>
                    <p class="section-news--sum">vegeness企画「ヴィーガンレストラン巡りツアー」開催</p>
                  </a>
                </li>
                <li>
                  <a class="link" href="/news/detail">
                    <p class="date">2020.10.18 [mon]</p>
                    <p class="section-news--sum">レシピ応募キャンぺーンのお知らせ</p>
                  </a>
                </li>
                <li>
                  <a class="link" href="/news/detail">
                    <p class="date">2020.10.18 [mon]</p>
                    <p class="section-news--sum">あなたのライフスタイルを記事にしませんか</p>
                  </a>
                </li>
              </ul>
              <div class="view-more-wrap">
                <a href="/blog" class="btn-view-more">お知らせ一覧へ</a>
              </div>
            </div>
          </div>
          <div class="section-news--advers fadeup">
            <a class="link" href="">
              <img src="/assets/images/top/advers03.png" alt="">
            </a>
            <a class="link" href="">
              <img src="/assets/images/top/advers04.png" alt="">
            </a>
            <a class="link" href="">
              <img src="/assets/images/top/advers05.png" alt="">
            </a>
          </div>
        </div>
      </section><!-- ./section-news -->
    </main><!-- ./main -->
@@include('./layouts/footer.html')