		<footer class="footer">
      <div class="footer-navWrapper">
        <div class="footer-nav">
        	<ul class="footer-nav01">
        	  <li class="footer-nav01--item">
        	    <a class="link" href="/recipe">レシピ一覧</a>
        	  </li>
        	  <li class="footer-nav01--item">
        	    <a class="link" href="/blog">ヴィーガンコラム</a>
        	  </li>
        	  <li class="footer-nav01--item">
        	    <a class="link" href="/shop">レストラン検索</a>
        	  </li>
        	</ul>
        	<ul class="footer-nav02">
        	  <li class="footer-nav02--item">
        	    <a class="link" href="/login">ログイン・会員登録</a>
        	  </li>
        	  <li class="footer-nav02--item">
        	    <a class="link" href="/news">お知らせ</a>
        	  </li>
        	  <li class="footer-nav02--item">
        	    <a class="link" href="/contact">会社概要</a>
        	  </li>
        	  <li class="footer-nav02--item">
        	    <a class="link" href="/disclaimer">利用規約</a>
        	  </li>
        	  <li class="footer-nav02--item">
        	    <a class="link" href="/contact">お問い合わせ</a>
        	  </li>
        	</ul>
        	<div class="footer-sns">
        	  <a class="link" href="/">
        	    <img src="../../assets/images/common/icon-insta.png" alt="">
        	  </a>
        	</div>
        </div>
        <div class="footer-logo link">
          <a href="/">
            <img src="../../assets/images/common/logo.svg" alt="">
          </a>
        </div>
      </div>
      <p class="footer-copy">Copyright © 2020 Vegeness-ベジネス</p>
    </footer><!-- ./footer -->
  </div>
  <script src="../../assets/js/lib/jquery-3.5.1.min.js"></script>
  <script src="../../assets/js/lib/fitie.js"></script>
  <script src="../../assets/js/lib/remodal.min.js"></script>
  <script src="../../assets/js/lib/slick.min.js"></script>
  <script src="../../assets/js/common.js"></script>
</body>

</html>