@@include('../../layouts/header-end-detail-nosearch.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>掲載レストラン募集</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe rest">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="p-restaurant">
          <div class="sectionEP-head">
            <div class="sectionEP-titleWrap">
              <h1 class="sectionEP-title no-icon">掲載レストラン募集</h1>
            </div>
          </div>
          <div class="section-recipe--row">
            <div class="registration-cnt">
              <div class="registration-intro">
                <p class="titleLv5 mgb-15">vegenessがあなたのレストランを掲載して、 ヴィーガンフードを広めます！</p>
                <p class="desc">vegenessでは、レストランと人がつながるように、 ヴィーガンフードを取り扱うレストランを募集しています。 レストランを掲載することで、ヴィーガンというライフスタイルをより一層楽しむための応援ができればと考えています。</p>
              </div>
              <div class="registration-benefits">
                <h2 class="titleLv2">掲載のメリット</h2>
                <ul class="registration-benefits--list">
                  <li><p class="benefitsIn desc">広告費をかけずに<br>来客増加！</p></li>
                  <li><p class="benefitsIn desc">自身のサイトを<br>持っていなくてもOK！</p></li>
                  <li><p class="benefitsIn desc">面倒な手続きは<br>一切不要！</p></li>
                </ul>
              </div>
              <div class="registration-flow">
                <h2 class="titleLv2">掲載お申し込みの流れ</h2>
                <ul class="registration-flow--list">
                  <li class="titleLv5"><p class="flowin">お問合わせフォーム<br class="pc-only">からお申込み</p></li>
                  <li class="titleLv5"><p class="flowin">vegeness運営より<br class="pc-only">連絡、ご契約</p></li>
                  <li class="titleLv5"><p class="flowin">掲載内容ヒアリング</p></li>
                  <li class="titleLv5"><p class="flowin">vegeness運営が<br class="pc-only"> レストランを掲載</p></li>
                </ul>
              </div>

            </div><!-- ./registration-cnt -->
          </div><!-- ./section-recipe--row -->
        </div>

        <div class="p-restaurant--advers pc-only">
          <p class="p-restaurant--advers-feeling">お気軽にお申し込みを</p>
          <p class="p-restaurant--advers-question type2">レストラン掲載のお申し込みは<br>こちらから受け付けております。<br>どなた様もお気軽にお申し込みください。</p>
          <a href="/" class="btn-view-more2">お申し込みはこちら</a>
        </div>

      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        @@include('../../layouts/sidebar-right-restaurant.html')
      </div><!-- ./section-recipe--right -->
    </div>
  </section><!-- ./section-recipe -->
  <section class="section advers">
    <div class="container">
      <div class="section-news--advers fadeup">
        <a class="link" href="">
          <img src="/assets/images/top/advers03.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers04.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers05.png" alt="">
        </a>
      </div>
    </div>
  </section><!-- ./section-news -->
</main><!-- ./main -->
@@include('../../layouts/footer-end-detail.html')