// Slide button control
.slick-prev,
.slick-next {
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #7B7B6C;
  background-color: #fff;
  z-index: 1;
  transition: all .3s;

  @include mq() {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .7;
  }

  span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
      display: inline-block;
      position: absolute;
      top: calc(50% - 6px);
      left: calc(50% - 5px);
      width: 12px;
      height: 12px;
      background: url(../images/common/icon-page-right-gray.svg) center center/100% 100% no-repeat;
      content: "";
      @include mq() {
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        width: 6px;
        height: 6px;
      }
    }
  }
}

.slick-prev {
  left: -20px;

  @include mq() {
    left: -12px;
  }

  span {
    &:before {
      left: 12px;
      background-image: url(../images/common/icon-page-left-gray.svg);
      @include mq() {
        left: calc(50% - 3px);
      }
    }
  }
}

.slick-next {
  right: -20px;

  @include mq() {
    right: -12px;
  }

  span {
    &:before {
      left: 14px;
      @include mq() {
        left: calc(50% - 3px);
      }
    }
  }

  // @media all and (-ms-high-contrast:none) {

  //   /* IE10 */
  //   span {
  //     &:before {
  //       left: 15px;
  //     }
  //   }

  //   *::-ms-backdrop,
  //   span {
  //     &:before {
  //       left: 15px;
  //     }
  //   }
  // }
}
