@@include('../../layouts/header-end-detail.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>新規会員登録</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="form-user">
        <h2 class="form-user--ttl">新規会員登録</h2>
        <p class="form-user--des">ご入力いただいた内容で会員登録が完了いたしました。 <br>ログインしてマイページから登録情報をご確認ください。</p>
        <div class="form-user--formWrap">
            <div class="form-user--row">
              <div class="form-user--btnWrap">
                <a href="/login" class="btn-gray">ログインページに戻る</a>
              </div>
            </div><!-- ./form-user--row -->
        </div>
      </div><!-- ./form-user -->
    </div>
  </section><!-- ./section -->
</main><!-- ./main -->
@@include('../../layouts/footer-end-detail.html')