@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
	padding: 60px;
	@include mq() {
		padding: 0 0 30px;
	}
	&-navWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mq() {
			display: block;
		}
	}
	&-nav {
		display: flex;
		align-items: center;
		width: calc(100% - 236px);
		padding-right: 20px;
		@include mq() {
			width: 100%;
			display: block;
			padding-right: 0;
		}
	}
	&-nav01 {
		display: flex;
		flex-wrap: wrap;
		@include mq() {
			display: block;
		}
		&--item {
			margin: 10px 40px 10px 0;
			@include mq() {
				margin: 0;
			}
			a {
				font-size: fs(14);
				line-height: fs(22);
				font-weight: bold;
				@include mq() {
					padding: 30px 20px;
					border-bottom: solid 1px #C7C7C7;
					padding-right: 30px;
					background: url(../images/common/icon-arrow-right-black.svg) right 20px center/10px 10px no-repeat;
				}
			}
		}
	}
	&-nav02 {
		display: flex;
		flex-wrap: wrap;
		margin-right: 18px;
		@include mq() {
			display: block;
			margin-right: 0;
			text-align: center;
			padding-top: 15px;
		}
		&--item {
			margin: 10px 22px 10px 0;
			@include mq() {
				margin-right: 0;
				margin-bottom: 0;
			}
			a {
				font-size: fs(12);
				line-height: fs(20);
				@include mq() {
					padding: 15px 0;
				}
			}
		}
	}
	&-sns {
		@include mq() {
			margin: 15px 0 40px;
			text-align: center;
		}
		a {
			display: block;
			width: 30px;
			height: 30px;
			@include mq() {
				display: inline-block;
			}
		}
	}
	&-logo {
		width: 236px;
		@include mq() {
			width: 236px;
			margin: 0 auto;
		}
	}
	&-copy {
		margin-top: 20px;
		font-size: fs(12);
		line-height: fs(20);
		color: #7B7B6C;
		@include mq() {
			margin-top: 40px;
			text-align: center;
		}
	}
}