@@include('../layouts/header-end.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>新規会員登録</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="form-user">
        <h2 class="form-user--ttl">新規会員登録</h2>
        <div class="form-user--formWrap">
          <form action="">
            <div class="form-user--row">
              <label for="nickname" class="form-user--label">
                <span class="form-user--label-text">ニックネーム</span>
                <span class="form-user--label-required">必須</span>
              </label>
              <div class="form-user--field">
                <input type="text" name="nickname" id="nickname" class="input" value="" placeholder="全角10文字以内">
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row">
              <label for="mail" class="form-user--label">
                <span class="form-user--label-text">メールアドレス</span>
                <span class="form-user--label-required">必須</span>
              </label>
              <div class="form-user--field">
                <input type="text" name="mail" id="mail" class="input" value="" placeholder="例）members@vegeness.com">
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row">
              <label for="password" class="form-user--label">
                <span class="form-user--label-text">パスワード</span>
                <span class="form-user--label-required">必須</span>
              </label>
              <div class="form-user--field">
                <input type="password" name="password" id="password" class="input" value="" placeholder="半角英数字6文字以上">
              </div>
              <div class="form-user--guide align-center mgt-10 mgb-40">
                <p>会員登録をすると<a href="/disclaimer" class="link underline">利用規約</a>に同意したことになります。</p>
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row">
              <div class="form-user--btnWrap">
                <input class="btn-gray" type="submit" value="会員登録">
              </div>
            </div><!-- ./form-user--row -->
          </form><!-- ./form -->
        </div>
      </div><!-- ./form-user -->
    </div>
  </section><!-- ./section -->
</main><!-- ./main -->
@@include('../layouts/footer-end.html')