@@include('../../layouts/header-end-detail-nosearch.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>レストラン検索</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe rest">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="p-restaurant">
          <div class="sectionEP-head">
            <div class="sectionEP-titleWrap">
              <h1 class="sectionEP-title fork">レストラン検索</h1>
              <p class="sectionEP-resultSumary">12件中｜1〜30件 表示 [1ページ目]</p>
            </div>
            <div class="sectionEP-sort">
              <div class="tagX-list">
                <span class="tagX">三鷹・吉祥寺・荻窪<i class="tagX-icon"></i></span>
                <span class="tagX">洋食<i class="tagX-icon"></i></span>
                <span class="tagX">歓送迎会<i class="tagX-icon"></i></span>
              </div>
              <div class="sectionEP-newOrders rest">
                <a href="/shop" class="link-return desc">レストラン検索に戻る</a>
              </div>
            </div>
          </div>
          <div class="section-recipe--row">
            <div class="p-restaurant--list">
              <div class="p-restaurant--item">
                <h3 class="titleLv4">ガネーシャ・ガル 西荻窪店</h3>
                <div class="p-restaurant--item-cnt">
                  <div class="p-restaurant--item-thumbbox">
                    <div class="p-restaurant--item-thumb">
                      <img src="../../assets/images/restaurant/restaurant01.png" alt="">
                    </div>
                    <div class="p-restaurant--item-tagbox">
                      <span class="tag2">100%Veganのお店</span>
                      <span class="tag2">英語メニューあり</span>
                      <span class="tag2">テイクアウトあり</span>
                      <span class="tag2">宅配サービス</span>
                    </div>
                  </div>
                  <div class="p-restaurant--item-infor">
                    <table class="desc">
                      <tr>
                        <th>エリア</th>
                        <td>三鷹・吉祥寺・荻窪</td>
                      </tr>
                      <tr>
                        <th>ジャンル</th>
                        <td>アジア・エスニック料理</td>
                      </tr>
                      <tr>
                        <th>住所</th>
                        <td>〒167-0043 東京都杉並区上荻４丁目４−１</td>
                      </tr>
                      <tr>
                        <th>営業時間</th>
                        <td>[月～金] 11:30～14:30 17:30～23:30 <br>[土・日・祝] 11:30～23:30（L.O.23：00）</td>
                      </tr>
                      <tr>
                        <th>定休日</th>
                        <td>土・日・祝日</td>
                      </tr>
                      <tr>
                        <th>電話番号</th>
                        <td>03-6811-1183</td>
                      </tr>
                      <tr>
                        <th>平均予算</th>
                        <td>ランチ : ～1,000円<br>ディナー : ～1,000円</td>
                      </tr>
                    </table>
                    <a href="/shop/detail" class="btn-gray">店舗詳細へ</a>
                  </div>
                </div>
              </div>
              <div class="p-restaurant--item">
                <h3 class="titleLv4">暮らしのいろいろ ていねいに、</h3>
                <div class="p-restaurant--item-cnt">
                  <div class="p-restaurant--item-thumbbox">
                    <div class="p-restaurant--item-thumb">
                      <img src="../../assets/images/restaurant/restaurant02.png" alt="">
                    </div>
                    <div class="p-restaurant--item-tagbox">
                      <span class="tag2">100%Veganのお店</span>
                      <span class="tag2">英語メニューあり</span>
                      <span class="tag2">テイクアウトあり</span>
                      <span class="tag2">宅配サービス</span>
                    </div>
                  </div>
                  <div class="p-restaurant--item-infor">
                    <table class="desc">
                      <tr>
                        <th>エリア</th>
                        <td>三鷹・吉祥寺・荻窪</td>
                      </tr>
                      <tr>
                        <th>ジャンル</th>
                        <td>アジア・エスニック料理</td>
                      </tr>
                      <tr>
                        <th>住所</th>
                        <td>〒167-0043 東京都杉並区上荻４丁目４−１</td>
                      </tr>
                      <tr>
                        <th>営業時間</th>
                        <td>[月～金] 11:30～14:30 17:30～23:30 <br>[土・日・祝] 11:30～23:30（L.O.23：00）</td>
                      </tr>
                      <tr>
                        <th>定休日</th>
                        <td>土・日・祝日</td>
                      </tr>
                      <tr>
                        <th>電話番号</th>
                        <td>03-6811-1183</td>
                      </tr>
                      <tr>
                        <th>平均予算</th>
                        <td>ランチ : ～1,000円<br>ディナー : ～1,000円</td>
                      </tr>
                    </table>
                    <a href="/shop/detail" class="btn-gray">店舗詳細へ</a>
                  </div>
                </div>
              </div>
              <div class="p-restaurant--item">
                <h3 class="titleLv4">Kin mama（キンママ）</h3>
                <div class="p-restaurant--item-cnt">
                  <div class="p-restaurant--item-thumbbox">
                    <div class="p-restaurant--item-thumb">
                      <img src="../../assets/images/restaurant/restaurant03.png" alt="">
                    </div>
                    <div class="p-restaurant--item-tagbox">
                      <span class="tag2">100%Veganのお店</span>
                      <span class="tag2">英語メニューあり</span>
                      <span class="tag2">テイクアウトあり</span>
                      <span class="tag2">宅配サービス</span>
                    </div>
                  </div>
                  <div class="p-restaurant--item-infor">
                    <table class="desc">
                      <tr>
                        <th>エリア</th>
                        <td>三鷹・吉祥寺・荻窪</td>
                      </tr>
                      <tr>
                        <th>ジャンル</th>
                        <td>アジア・エスニック料理</td>
                      </tr>
                      <tr>
                        <th>住所</th>
                        <td>〒167-0043 東京都杉並区上荻４丁目４−１</td>
                      </tr>
                      <tr>
                        <th>営業時間</th>
                        <td>[月～金] 11:30～14:30 17:30～23:30 <br>[土・日・祝] 11:30～23:30（L.O.23：00）</td>
                      </tr>
                      <tr>
                        <th>定休日</th>
                        <td>土・日・祝日</td>
                      </tr>
                      <tr>
                        <th>電話番号</th>
                        <td>03-6811-1183</td>
                      </tr>
                      <tr>
                        <th>平均予算</th>
                        <td>ランチ : ～1,000円<br>ディナー : ～1,000円</td>
                      </tr>
                    </table>
                    <a href="/shop/detail" class="btn-gray">店舗詳細へ</a>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- ./section-recipe--row -->

          <div class="pagination">
            <p class="pagination-label">0,000件中｜1〜30件 表示</p>
            <div class="pagination-list">
              <a class="ctrl prev" href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="8" viewBox="0 0 7 8"><defs><style>.a{fill:#7b7b6c;}</style></defs><path class="a" d="M928,245.063a1.589,1.589,0,0,0,0,2.952l3.574,2.175c1.334.812,2.426.157,2.426-1.454v-4.395c0-1.611-1.092-2.265-2.426-1.454Z" transform="translate(-927 -242.539)"/></svg>
              </a>
              <a class="active" href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
              <div class="pagination-spacer">…</div>
              <a href="">12</a>
              <a class="ctrl next" href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="8.001" viewBox="0 0 7 8.001"><defs><style>.a{fill:#7b7b6c;}</style></defs><path class="a" d="M933,245.063a1.589,1.589,0,0,1,0,2.952l-3.574,2.176c-1.334.812-2.426.157-2.426-1.454v-4.4c0-1.612,1.092-2.266,2.426-1.454Z" transform="translate(-927 -242.539)"/></svg>
              </a>
            </div>
          </div>
        </div><!-- ./p-restaurant-->

      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        @@include('../../layouts/sidebar-right-restaurant.html')
      </div><!-- ./section-recipe--right -->
    </div>
  </section><!-- ./section-recipe -->
  <section class="section advers">
    <div class="container">
      <div class="section-news--advers fadeup">
        <a class="link" href="">
          <img src="/assets/images/top/advers03.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers04.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers05.png" alt="">
        </a>
      </div>
    </div>
  </section><!-- ./section-news -->
</main><!-- ./main -->
@@include('../../layouts/footer-end-detail.html')