@@include('../../layouts/header-end-detail-nosearch.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>広告掲載について</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe rest">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="p-restaurant">
          <div class="sectionEP-head">
            <div class="sectionEP-titleWrap">
              <h1 class="sectionEP-title no-icon">広告掲載について</h1>
            </div>
          </div>
          <div class="section-recipe--row">
            <div class="registration-cnt">
              <div class="registration-intro">
                <p class="titleLv5 mgb-15">vegenessではメディアの広告掲載や、タイアップ企画のご依頼を受け付けています。</p>
                <p class="desc">vegenessはヴィーガンというライフスタイルを楽しむために様々な情報を発信するメディアです。<br> 読者の方々により一層楽しんでいただけるよう、 企業様からの広告掲載やタイアップ企画などを受け付けております。</p>
              </div>
              <div class="registration-benefits">
                <h2 class="titleLv2">掲載広告例</h2>
                <ul class="registration-benefits--list">
                  <li><p class="benefitsIn desc">コラボレシピの考案</p></li>
                  <li><p class="benefitsIn desc">企業様の<br>ヴィーガン食品の宣伝</p></li>
                  <li><p class="benefitsIn desc">インフルエンサーの<br>インタビュー</p></li>
                </ul>
              </div>
              <div class="registration-tieUp">
                <h2 class="titleLv2">タイアップ事例</h2>
                <ul class="registration-tieUp--list">
                  <li>
                    <a class="link" href="">
                      <img src="../../assets/images/top/new01.png" alt="">
                      <p class="registration-tieUp--ttl">株式会社〇〇〇〇様</p>
                      <h3 class="titleLv5">［コラボレシピ開発］食べ応え満点！大豆ミート&豆のトマト煮込み</h3>
                    </a>
                  </li>
                  <li>
                    <a class="link" href="">
                      <img src="../../assets/images/top/new01.png" alt="">
                      <p class="registration-tieUp--ttl">株式会社〇〇〇〇様</p>
                      <h3 class="titleLv5">［コラボレシピ開発］食べ応え満点！大豆ミート&豆のトマト煮込み</h3>
                    </a>
                  </li>
                  <li>
                    <a class="link" href="">
                      <img src="../../assets/images/top/new01.png" alt="">
                      <p class="registration-tieUp--ttl">株式会社〇〇〇〇様</p>
                      <h3 class="titleLv5">［コラボレシピ開発］食べ応え満点！大豆ミート&豆のトマト煮込み</h3>
                    </a>
                  </li>
                </ul>
              </div>

            </div><!-- ./registration-cnt -->
          </div><!-- ./section-recipe--row -->
        </div>

        <div class="p-restaurant--advers rest pc-only">
          <p class="p-restaurant--advers-feeling">お気軽にご相談を</p>
          <p class="p-restaurant--advers-question type2">広告掲載、タイアップ企画のご相談は<br>こちらから受け付けております。<br> どなた様もお気軽にご連絡ください。</p>
          <a href="/" class="btn-view-more2">ご相談はこちら</a>
        </div>

      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        @@include('../../layouts/sidebar-right-restaurant.html')
      </div><!-- ./section-recipe--right -->
    </div>
  </section><!-- ./section-recipe -->
  <section class="section advers">
    <div class="container">
      <div class="section-news--advers fadeup">
        <a class="link" href="">
          <img src="/assets/images/top/advers03.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers04.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers05.png" alt="">
        </a>
      </div>
    </div>
  </section><!-- ./section-news -->
</main><!-- ./main -->
@@include('../../layouts/footer-end-detail.html')