@@include('../../layouts/header-end-detail.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>新しいパスワード設定</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="form-user">
        <h2 class="form-user--ttl">新しいパスワード設定</h2>
        <div class="form-user--formWrap">
          <form action="">
            <div class="form-user--row">
              <label for="password" class="form-user--label">
                <span class="form-user--label-text">新しいパスワード</span>
                <!-- <span class="form-user--label-required">必須</span> -->
              </label>
              <div class="form-user--field">
                <input type="password" name="password" id="password" class="input" value="" placeholder="半角英数字6文字以上">
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row">
              <label for="password-confirm" class="form-user--label">
                <span class="form-user--label-text">新しいパスワード（確認用）</span>
                <!-- <span class="form-user--label-required">必須</span> -->
              </label>
              <div class="form-user--field">
                <input type="password" name="password-confirm" id="password-confirm" class="input" value="" placeholder="半角英数字6文字以上">
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row mgt-40">
              <div class="form-user--btnWrap">
                <input class="btn-gray" type="submit" value="メールを送信する">
              </div>
            </div><!-- ./form-user--row -->
          </form><!-- ./form -->
        </div>
      </div><!-- ./form-user -->
    </div>
  </section><!-- ./section -->
</main><!-- ./main -->
@@include('../../layouts/footer-end-detail.html')