@@include('../../layouts/header-end-detail-nosearch.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li><a href="/shop">レストラン検索</a></li>
          <li>ガネーシャ・ガル 西荻窪店</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe rest">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="p-restaurant rest-detail">
          <div class="sectionEP-head">
            <div class="sectionEP-titleWrap">
              <h1 class="sectionEP-title no-icon">ガネーシャ・ガル 西荻窪店</h1>
            </div>
          </div>
          <div class="section-recipe--row">
            <ul class="tabs">
              <li class="tab-link current" data-tab="tab-1"><span>店舗詳細</span></li>
              <li class="tab-link" data-tab="tab-2"><span>レポート記事を読む</span></li>
            </ul>

            <div class="tab-contentWrap">
              <div id="tab-1" class="tab-content current">
                <h3 class="tab-content--ttl titleLv4 sp-only">ガネーシャ・ガル 西荻窪店</h3>
                <ul class="rest-slider js-rest-slider">
                  <li><img src="/assets/images/restaurant/restaurant01.png" alt=""></li>
                  <li><img src="/assets/images/restaurant/restaurant02.png" alt=""></li>
                  <li><img src="/assets/images/restaurant/restaurant03.png" alt=""></li>
                  <li><img src="/assets/images/restaurant/restaurant02.png" alt=""></li>
                </ul>
                <ul class="rest-slider-nav js-rest-slider-nav">
                  <li><img src="/assets/images/restaurant/restaurant01.png" alt=""></li>
                  <li><img src="/assets/images/restaurant/restaurant01-2.png" alt=""></li>
                  <li><img src="/assets/images/restaurant/restaurant01-3.png" alt=""></li>
                  <li><img src="/assets/images/restaurant/restaurant01-4.png" alt=""></li>
                </ul>
                <div class="rest-detail--tags">
                  <span class="tag2">100%Veganのお店</span>
                  <span class="tag2">英語メニューあり</span>
                  <span class="tag2">テイクアウトあり</span>
                  <span class="tag2">宅配サービス</span>
                </div>

                <div class="rest-detail--table">
                  <table class="desc">
                    <tr>
                      <th>エリア</th>
                      <td>三鷹・吉祥寺・荻窪</td>
                    </tr>
                    <tr>
                      <th>ジャンル</th>
                      <td>アジア・エスニック料理</td>
                    </tr>
                    <tr>
                      <th>住所</th>
                      <td>〒167-0043 東京都杉並区上荻４丁目４−１<br>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103746.9323661526!2d139.68988259084193!3d35.65011385819939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b3099817d41%3A0x6a9c46b0286d6a02!2zVEVOWk8g6KW_5paw5qmL5bqX!5e0!3m2!1sja!2sjp!4v1606291782518!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </td>
                    </tr>
                    <tr>
                      <th>アクセス</th>
                      <td>東京メトロ銀座線　虎ノ門駅から徒歩3分</td>
                    </tr>
                    <tr>
                      <th>営業時間</th>
                      <td>[月～金] 11:30～14:30 17:30～23:30 [土・日・祝] <br>11:30～23:30（L.O.23：00）</td>
                    </tr>
                    <tr>
                      <th>定休日</th>
                      <td>土・日・祝日</td>
                    </tr>
                    <tr>
                      <th>電話番号</th>
                      <td>03-6811-1183</td>
                    </tr>
                    <tr>
                      <th>平均予算</th>
                      <td>ランチ : ～1,000円<br>ディナー : ～1,000円</td>
                    </tr>
                    <tr>
                      <th>支払方法</th>
                      <td>現金・カード・電子マネー</td>
                    </tr>
                    <tr>
                      <th>座席数</th>
                      <td>12席</td>
                    </tr>
                    <tr>
                      <th>駐車場</th>
                      <td>近隣にコインパーキング有</td>
                    </tr>
                    <tr>
                      <th>URL</th>
                      <td><a class="link-icon blank" href="https://saido.tokyo/" target="_blank">https://saido.tokyo/</a></td>
                    </tr>
                  </table>
                </div>
              </div>

              <div id="tab-2" class="tab-content">
                 <div class="no-reset">
                   <div class="desc">
                     官公庁やオフィスビルが立ち並ぶビジネス街・西11丁目地区から5分ほど南方向に歩いたところにお店を構える「福の樹」さん。
                     <br>
                     <br>
                     <img src="/assets/images/restaurant/blog01.png" alt="">
                     <br>
                     <br>
                     ラーメン店の多い札幌でも珍しいトマトスープのラーメンを提供しているこのお店では、<b>ヴィーガン対応のおいしく健康的なラーメンを食べることができます。 </b><br>玄関は二重になっています。内側の扉にはハラル対応を示すステッカーが掲示されていて、近年急増しているムスリムの観光客の方々も安心して食事ができるよう配慮されています。
                     <br>
                     <br>
                     <div class="align-center">
                       <img src="/assets/images/restaurant/blog02.png" alt="">
                     </div>
                     <br>
                     すっきり<a href="" class="link-blog">清潔な印象の店内</a>。
                   </div>
                 </div>
              </div>

              <div class="btn-view-moreWrap">
                <a href="/" class="btn-view-more">検索結果一覧へ</a>
              </div>

              <div class="rest-detail--suggest">
                <h2 class="titleLv2">同じエリアのレストラン</h2>
                <ul class="rest-detail--suggest-list">
                  <li>
                    <a href="/shop/detail" class="link">
                      <div class="rest-detail--suggest-thumb">
                        <img src="/assets/images/restaurant/suggest01.png" alt="">
                      </div>
                      <div class="rest-detail--suggest-tag">
                        <span>[和食]</span>
                      </div>
                      <h4 class="titleLv5">暮らしのいろいろ ていねいに、</h4>
                    </a>
                  </li>
                  <li>
                    <a href="/shop/detail" class="link">
                      <div class="rest-detail--suggest-thumb">
                        <img src="/assets/images/restaurant/suggest02.png" alt="">
                      </div>
                      <div class="rest-detail--suggest-tag">
                        <span>[アジア・エスニック料理]</span>
                      </div>
                      <h4 class="titleLv5">Kin mama（キンママ）</h4>
                    </a>
                  </li>
                  <li>
                    <a href="/shop/detail" class="link">
                      <div class="rest-detail--suggest-thumb">
                        <img src="/assets/images/restaurant/suggest03.png" alt="">
                      </div>
                      <div class="rest-detail--suggest-tag">
                        <span>[イタリアン・フレンチ]</span>
                      </div>
                      <h4 class="titleLv5">Linio (リニーオ)</h4>
                    </a>
                  </li>
                  <li>
                    <a href="/shop/detail" class="link">
                      <div class="rest-detail--suggest-thumb">
                        <img src="/assets/images/restaurant/suggest04.png" alt="">
                      </div>
                      <div class="rest-detail--suggest-tag">
                        <span>[イタリアン・フレンチ]</span>
                      </div>
                      <h4 class="titleLv5">Kunitachi Pasta Factory（くにたちぱすたふぁくとりー）</h4>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- ./section-recipe--row -->

        </div><!-- ./p-restaurant-->

      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        @@include('../../layouts/sidebar-right-restaurant.html')
      </div><!-- ./section-recipe--right -->
    </div>
  </section><!-- ./section-recipe -->
  <section class="section advers">
    <div class="container">
      <div class="section-news--advers fadeup">
        <a class="link" href="">
          <img src="/assets/images/top/advers03.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers04.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers05.png" alt="">
        </a>
      </div>
    </div>
  </section><!-- ./section-news -->
</main><!-- ./main -->
@@include('../../layouts/footer-end-detail.html')