@@include('../layouts/header-end-after-login-mypage.html')
<main class="main">
      <div class="breadcrumbWrap pc-only">
        <div class="container">
          <div class="breadcrumb">
            <ul>
              <li><a href="/">トップページ</a></li>
              <li>クリップ一覧</li>
            </ul>
          </div>
        </div>
      </div>
      <section class="section recipe end">
        <div class="container">
          <div class="section-recipe--left fadeup2">
            <div class="tabs-listWrap type2">
              <div class="tabs-list js-tabsList">
                <a href="" class="tabs-item active" data-type="type00">すべて</a>
                <a href="" class="tabs-item" data-type="type01">和食</a>
                <a href="" class="tabs-item" data-type="type02">洋食</a>
                <a href="" class="tabs-item" data-type="type03">イタリアン</a>
                <a href="" class="tabs-item" data-type="type04">韓国料理</a>
                <a href="" class="tabs-item" data-type="type05">中華料理</a>
                <a href="" class="tabs-item" data-type="type06">エスニック料理</a>
                <a href="" class="tabs-item" data-type="type07">常備菜</a>
                <a href="" class="tabs-item" data-type="type08">スイーツ</a>
                <a href="" class="tabs-item" data-type="type09">その他</a>
              </div>
            </div><!-- ./tabs-listWrap -->
            <ul class="clip-list js-clipList">
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type01">[和食]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/top/advers04.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type01">[和食]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type02">[洋食]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type02">[洋食]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type02">[洋食]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type02">[洋食]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type03">[イタリアン]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type03">[イタリアン]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type03">[イタリアン]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type04">[韓国料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type04">[韓国料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type04">[韓国料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type04">[韓国料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type04">[韓国料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type01">[和食]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type04">[韓国料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type05">[中華料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type05">[中華料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type05">[中華料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type05">[中華料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type05">[中華料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type05">[中華料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type05">[中華料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type06">[エスニック料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type06">[エスニック料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type06">[エスニック料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type06">[エスニック料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type06">[エスニック料理]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type07">[常備菜]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type07">[常備菜]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type07">[常備菜]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type08">[スイーツ]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type08">[スイーツ]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type08">[スイーツ]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type08">[スイーツ]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type08">[スイーツ]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type08">[スイーツ]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type08">[スイーツ]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type09">[その他]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
              <li>
                <a href="./detail" class="link">
                  <div class="clip-list--thumbWrap">
                    <div class="clip-list--thumb">
                      <img class="cover" src="/assets/images/clip/clip01.png" alt="">
                    </div>
                  </div>
                  <p><span class="tagLB type09">[その他]</span></p>
                  <p class="titleLv5">ビタミンたっぷり☆かぼちゃと人参のトマト煮</p>
                </a>
                <span class="btn-clip2 js-btn-clip2"></span>
              </li>
            </ul><!-- ./clip-list -->
          </div><!-- ./section-recipe--left -->
          <div class="section-recipe--right fadeup2">
            <div class="section-recipe--right-inner type2">
              <div class="section-recipe--search pc-only">
                <p class="label-msg"><span>レシピを探す</span></p>
                <div class="form-oneWrap">
                  <p class="section-recipe--search-label">キーワードで探す</p>
                  <form class="form-one" action="">
                    <input class="input" type="text" name="keyword2" placeholder="料理名、レシピ名など">
                    <input class="search" type="submit" value="">
                  </form>
                </div>
                <div class="form-suggest">
                  <p class="form-suggest--label">よく検索されるキーワード</p>
                  <div>
                    <a href="" class="tag">#豆腐</a>
                    <a href="" class="tag">#栗</a>
                    <a href="" class="tag">#スープ</a>
                    <a href="" class="tag">#秋野菜</a>
                    <a href="" class="tag">#高タンパク質</a>
                    <a href="" class="tag">#海藻</a>
                  </div>
                </div>
                <div class="form-searchWrap">
                  <p class="section-recipe--search-label">条件を選択して探す</p>
                  <form class="form-search" action="">
                    <select class="input" id="select01">
                      <option>ジャンルから探す</option>
                      <option selected>和食</option>
                      <option>根菜・芋類</option>
                      <option>ごはんもの</option>
                      <option>春</option>
                    </select>
                    <select class="input" id="select02">
                      <option>メニューから探す</option>
                      <option>和食</option>
                      <option selected>根菜・芋類</option>
                      <option>ごはんもの</option>
                      <option>春</option>
                    </select>
                    <select class="input" id="select03">
                      <option>材料から探す</option>
                      <option>和食</option>
                      <option>根菜・芋類</option>
                      <option selected>ごはんもの</option>
                      <option>春</option>
                    </select>
                    <select class="input" id="select04">
                      <option>季節から探す</option>
                      <option>和食</option>
                      <option>根菜・芋類</option>
                      <option>ごはんもの</option>
                      <option selected>春</option>
                    </select>
                    <div class="form-action">
                      <input class="btn-gray" type="submit" value="検索">
                      <a class="btn-gray sliver" href="javascript:void(0)">リセット</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="section-recipe--ranking">
                <p class="label-msg ranking"><span>人気レシピランキング</span></p>
                <ul class="ranking-list">
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="section-recipe--ranking-viewmore">
                  <a class="view-more link" href="/recipe/ranking">レシピランキング一覧へ</a>
                </div>
              </div>
              <div class="section-recipe--advers">
                <a class="link" href="">
                  <img src="/assets/images/top/advers01.png" alt="">
                </a>
                <a class="link" href="">
                  <img src="/assets/images/top/advers02.png" alt="">
                </a>
              </div>
            </div>
          </div><!-- ./section-recipe--right -->
        </div>
      </section><!-- ./section-recipe -->
      <section class="section advers">
        <div class="container">
          <div class="section-news--advers fadeup">
            <a class="link" href="">
              <img src="../../assets/images/top/advers03.png" alt="">
            </a>
            <a class="link" href="">
              <img src="../../assets/images/top/advers04.png" alt="">
            </a>
            <a class="link" href="">
              <img src="../../assets/images/top/advers05.png" alt="">
            </a>
          </div>
        </div>
      </section><!-- ./section-news -->
    </main><!-- ./main -->
<div class="modal-overlay js-modal-overlay"></div>
<div class="modal-wrapper">
  <div class="modal js-modal">
    <a href="javascript:void(0)" class="modal-close btn-close js-modal-close"></a>
    <div class="modal-cnt">
      <img src="../../assets/images/clip/advers.jpg" alt="">
    </div>
  </div>
</div>
<div class="modal-wrapper type2 js-modal-del-msg">
  <div class="modal js-modal-del-cnt animate fadein">
    <div class="modal-cnt">
      <div class="modal-cnt--inner">
        <div class="modal-cnt--icon"><img src="../../assets/images/common/icon-tick.png" alt=""></div>
        <p class="modal-cnt--msg">クリップから<br>削除しました</p>
      </div>
    </div>
  </div>
</div>
@@include('../layouts/footer-end-detail.html')