@@include('../../layouts/header-end-detail.html')
<main class="main">
      <div class="breadcrumbWrap pc-only">
        <div class="container">
          <div class="breadcrumb">
            <ul>
              <li><a href="/">トップページ</a></li>
              <li>レシピ一覧</li>
            </ul>
          </div>
        </div>
      </div>
      <section class="section recipe end">
        <div class="container">
          <div class="section-recipe--left fadeup2">
            <div class="sectionEP-head">
              <div class="sectionEP-titleWrap">
                <h1 class="sectionEP-title">レシピ一覧</h1>
                <p class="sectionEP-resultSumary">12件中｜1〜30件 表示 [1ページ目]</p>
              </div>
              <div class="sectionEP-sort">
                <div class="tagX-list">
                  <span class="tagX">豚肉<i class="tagX-icon"></i></span>
                </div>
                <div class="sectionEP-newOrders">
                  <div class="form-search">
                    <select class="input" id="">
                      <option>新着順</option>
                      <option>人気順</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-recipe--row">
              <!-- <h2 class="section-title">New!<span>新着レシピ</span></h2> -->
              <div class="search-msg">
                <p class="titleLv4">該当のレシピがありません。</p>
                <p class="titleLv5">キーワードを変更してもう一度検索してください。</p>
              </div><!-- ./search-msg -->
              <div class="pickup-suggest">
                <h3 class="titleLv2">おすすめ新着レシピ</h3>
                <ul class="pickup-suggest--list">
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/recipe/detail" class="link">
                      <div class="pickup-suggest--thumb">
                        <img src="/assets/images/top/new01.png" alt="">
                      </div>
                      <span class="label-orangeWrap type2 mgb-10 mgt-10">
                        <span class="label-orange type2">会員限定</span>&nbsp;
                        <span class="icon-lockOrange type2"></span>
                      </span>
                      <p class="date big">2020.10.18 [mon]</p>
                      <p class="pickup-title">栗を丸ごと包んだ・豆腐だんごのすまし汁
                      </p>
                    </a>
                  </li>
                </ul>
              </div><!-- ./pickup-suggest -->
            </div><!-- ./section-recipe--row -->
          </div><!-- ./section-recipe--left -->
          <div class="section-recipe--right fadeup2">
            <div class="section-recipe--right-inner">
              <div class="section-recipe--search pc-only">
                <p class="label-msg"><span>レシピを探す</span></p>
                <div class="form-oneWrap">
                  <p class="section-recipe--search-label">キーワードで探す</p>
                  <form class="form-one" action="">
                    <input class="input" type="text" name="keyword2" placeholder="料理名、レシピ名など" value="豚肉">
                    <input class="search" type="submit" value="">
                  </form>
                </div>
                <div class="form-suggest">
                  <p class="form-suggest--label">よく検索されるキーワード</p>
                  <div>
                    <a href="" class="tag">#豆腐</a>
                    <a href="" class="tag">#栗</a>
                    <a href="" class="tag">#スープ</a>
                    <a href="" class="tag">#秋野菜</a>
                    <a href="" class="tag">#高タンパク質</a>
                    <a href="" class="tag">#海藻</a>
                  </div>
                </div>
                <div class="form-searchWrap">
                  <p class="section-recipe--search-label">条件を選択して探す</p>
                  <form class="form-search" action="">
                    <select class="input" id="select01">
                      <option>ジャンルから探す</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                    <select class="input" id="select02">
                      <option>メニューから探す</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                    <select class="input" id="select03">
                      <option>材料から探す</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                    <select class="input" id="select04">
                      <option>季節から探す</option>
                      <option>キーワード1</option>
                      <option>キーワード2</option>
                    </select>
                    <div class="form-action">
                      <input class="btn-gray" type="submit" value="検索">
                      <a class="btn-gray sliver" href="javascript:void(0)">リセット</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="section-recipe--ranking">
                <p class="label-msg ranking"><span>人気レシピランキング</span></p>
                <ul class="ranking-list">
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                  <li class="ranking-item">
                    <a class="link" href="">
                      <div class="ranking-item--thumb">
                        <img class="cover" src="/assets/images/top/new01.png" alt="">
                      </div>
                      <div class="ranking-item--cnt">
                        栗を丸ごと包んだ・豆腐だんごのすまし汁
                        <span class="icon-lockOrange type2"></span>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="section-recipe--ranking-viewmore">
                  <a class="view-more link" href="/recipe/ranking">レシピランキング一覧へ</a>
                </div>
              </div>
              <div class="section-recipe--advers">
                <a class="link" href="">
                  <img src="/assets/images/top/advers01.png" alt="">
                </a>
                <a class="link" href="">
                  <img src="/assets/images/top/advers02.png" alt="">
                </a>
              </div>
            </div>
          </div><!-- ./section-recipe--right -->
        </div>
      </section><!-- ./section-recipe -->
      <section class="section advers">
        <div class="container">
          <div class="section-news--advers fadeup">
            <a class="link" href="">
              <img src="../../assets/images/top/advers03.png" alt="">
            </a>
            <a class="link" href="">
              <img src="../../assets/images/top/advers04.png" alt="">
            </a>
            <a class="link" href="">
              <img src="../../assets/images/top/advers05.png" alt="">
            </a>
          </div>
        </div>
      </section><!-- ./section-news -->
    </main><!-- ./main -->
@@include('../../layouts/footer-end-detail.html')