@@include('../../layouts/header-end-detail.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>パスワードをお忘れの方</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="form-user">
        <h2 class="form-user--ttl">パスワードをお忘れの方</h2>
        <p class="form-user--des">メールアドレスを入力してください。 <br>入力されたメールアドレスにパスワード再発行のメールをお送りします。</p>
        <div class="form-user--formWrap">
          <form action="">
            <div class="form-user--row">
              <label for="mail" class="form-user--label">
                <span class="form-user--label-text">メールアドレス</span>
                <!-- <span class="form-user--label-required">必須</span> -->
              </label>
              <div class="form-user--field">
                <input type="text" name="mail" id="mail" class="input" value="" placeholder="例）members@vegeness.com">
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row mgt-30">
              <div class="form-user--btnWrap">
                <input class="btn-gray" type="submit" value="メールを送信する">
              </div>
            </div><!-- ./form-user--row -->
          </form><!-- ./form -->
        </div>
      </div><!-- ./form-user -->
    </div>
  </section><!-- ./section -->
</main><!-- ./main -->
@@include('../../layouts/footer-end-detail.html')