@@include('../../layouts/header-end-detail.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>登録内容の変更</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="form-user">
        <h2 class="form-user--ttl">登録内容の変更</h2>
        <div class="form-user--formWrap">
          <form action="">
            <div class="form-user--row">
              <label for="nickname" class="form-user--label">
                <span class="form-user--label-text">ニックネーム</span>
                <!-- <span class="form-user--label-required">必須</span> -->
              </label>
              <div class="form-user--field">
                <input type="text" name="nickname" id="nickname" class="input" value="ベジネース" placeholder="全角10文字以内">
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row">
              <label for="mail" class="form-user--label">
                <span class="form-user--label-text">メールアドレス</span>
                <!-- <span class="form-user--label-required">必須</span> -->
              </label>
              <div class="form-user--field">
                <input type="text" name="mail" id="mail" class="input" value="members@vegeness.com" placeholder="例）members@vegeness.com">
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row">
              <label for="password" class="form-user--label">
                <span class="form-user--label-text">パスワード</span>
                <!-- <span class="form-user--label-required">必須</span> -->
              </label>
              <div class="form-user--field">
                <input type="password" name="password" id="password" class="input" value="nguyenquangthang" placeholder="半角英数字6文字以上">
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row mgt-30">
              <div class="form-user--btnWrap">
                <!-- <input class="btn-gray js-btn-clip2" type="submit" value="変更を保存する"> -->
                <span class="btn-gray js-btn-alert">変更を保存する</span>
              </div>
            </div><!-- ./form-user--row -->
          </form><!-- ./form -->
        </div>
      </div><!-- ./form-user -->
    </div>
  </section><!-- ./section -->
</main><!-- ./main -->
<div class="modal-wrapper type2 js-modal-del-msg">
  <div class="modal js-modal-del-cnt animate fadein">
    <div class="modal-cnt">
      <div class="modal-cnt--inner">
        <div class="modal-cnt--icon"><img src="../../assets/images/common/icon-tick.png" alt=""></div>
        <p class="modal-cnt--msg">変更内容が<br>保存されました</p>
      </div>
    </div>
  </div>
</div>
@@include('../../layouts/footer-end-detail.html')