@@include('../../layouts/header-end-detail.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>vegeness企画「ヴィーガンレストラン巡りツアー」開催</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe end">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="sectionEP-head">
          <div class="sectionEP-titleWrap type2">
            <h1 class="sectionEP-title type2">vegeness企画「ヴィーガンレストラン巡りツアー」開催vegeness企画「ヴィーガンレストラン巡りツアー」開催</h1>
          </div>
          <div class="sectionEP-titleInfor mgt-10">
            <span class="desc3">2020.10.18 [mon]</span>
          </div>
        </div>
        <div class="news-cnt">
          <h2 class="titleLv4">記事ページの中見出し</h2>
          <div class="no-reset">
            <div class="desc">
              <br>
              この文章はダミーコピーですお読みにならないで下さい。構成を分かりやすくするため使用しています。本来の文言とは全く違った内容を記載しています。この文章はダミーコピーですお読みにならないで下さい。
              <br>
              <br>
              <img src="/assets/images/restaurant/blog01.png" alt="">
              <br>
              <br>
              ラーメン店の多い札幌でも珍しいトマトスープのラーメンを提供しているこのお店では、<b>ヴィーガン対応のおいしく健康的なラーメンを食べることができます。 </b><br>玄関は二重になっています。内側の扉にはハラル対応を示すステッカーが掲示されていて、近年急増しているムスリムの観光客の方々も安心して食事ができるよう配慮されています。
              <br>
              <br>
              <div class="align-center">
                <img src="/assets/images/restaurant/blog02.png" alt="">
              </div>
              <br>
              すっきり<a href="" class="link-blog">清潔な印象の店内</a>。
            </div>
          </div>
        </div><!-- ./news-cnt -->
        <div class="btn-view-moreWrap align-center mgt-70">
          <a href="/news" class="btn-view-more">お知らせ一覧へ</a>
        </div>
      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        @@include('../../layouts/sidebar-right.html')
      </div><!-- ./section-recipe--right -->
    </div>
  </section><!-- ./section-recipe -->
  <section class="section advers">
    <div class="container">
      <div class="section-news--advers fadeup">
        <a class="link" href="">
          <img src="../../assets/images/top/advers03.png" alt="">
        </a>
        <a class="link" href="">
          <img src="../../assets/images/top/advers04.png" alt="">
        </a>
        <a class="link" href="">
          <img src="../../assets/images/top/advers05.png" alt="">
        </a>
      </div>
    </div>
  </section><!-- ./section-news -->
</main><!-- ./main -->
<!-- modal box -->
<div class="remodal" data-remodal-id="modal-clip" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <button data-remodal-action="close" class="remodal-close btn-close"></button>
  <h3 class="remodal-ttl">お気に入りのレシピを手軽に”クリップ”</h3>
  <p class="desc align-center">クリップはお気に入りのレシピを保存できる機能です。 <br>ご利用には無料の会員登録が必要です。 <br>ログイン後はどなたでもご利用いただけます。</p>
  <a href="/signup" class="btn-gray">会員登録する</a><br>
  <a class="link underline" href="/login">既に登録済みの方はこちら</a>
</div>
<!-- ./modal box -->
@@include('../../layouts/footer-end-detail.html')