@@include('../layouts/header-end.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>運営会社</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe rest">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="sectionEP-head">
          <div class="sectionEP-titleWrap">
            <h1 class="sectionEP-title no-icon">運営会社</h1>
          </div>
        </div>
        <div class="main-content no-reset">
          <table>
            <tbody>
              <tr>
                <td>運営会社</td>
                <td>株式会社AKY</td>
              </tr>
              <tr>
                <td>住所</td>
                <td>東京都港区東新橋2-7-3　昭和アステック１号館</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td>info@aky-net.co.jp</td>
              </tr>
              <tr>
                <td>ウェブサイト</td>
                <td><a href="https://aky-net.co.jp/" target="_blank" rel="noreferrer noopener">https://aky-net.co.jp/</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        <div class="section-recipe--right-inner">
          <div class="section-recipe--right-inner">
            <div class="section-recipe--search pc-only">
              <p class="label-msg"><span>レシピを探す</span></p>
              <div class="form-oneWrap">
                <p class="section-recipe--search-label">キーワードで探す</p>
                <form class="form-one" action="">
                  <input class="input" type="text" name="keyword2" placeholder="料理名、レシピ名など">
                  <input class="search" type="submit" value="">
                </form>
              </div>
              <div class="form-suggest">
                <p class="form-suggest--label">よく検索されるキーワード</p>
                <div>
                  <a href="" class="tag">#豆腐</a>
                  <a href="" class="tag">#栗</a>
                  <a href="" class="tag">#スープ</a>
                  <a href="" class="tag">#秋野菜</a>
                  <a href="" class="tag">#高タンパク質</a>
                  <a href="" class="tag">#海藻</a>
                </div>
              </div>
              <div class="form-searchWrap">
                <p class="section-recipe--search-label">条件を選択して探す</p>
                <form class="form-search" action="">
                  <select class="input" id="select01">
                    <option>ジャンルから探す</option>
                    <option>キーワード1</option>
                    <option>キーワード2</option>
                  </select>
                  <select class="input" id="select02">
                    <option>メニューから探す</option>
                    <option>キーワード1</option>
                    <option>キーワード2</option>
                  </select>
                  <select class="input" id="select03">
                    <option>材料から探す</option>
                    <option>キーワード1</option>
                    <option>キーワード2</option>
                  </select>
                  <select class="input" id="select04">
                    <option>季節から探す</option>
                    <option>キーワード1</option>
                    <option>キーワード2</option>
                  </select>
                  <div class="form-action">
                    <input class="btn-gray active" type="submit" value="検索">
                    <a class="btn-gray sliver" href="javascript:void(0)">リセット</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="section-recipe--ranking">
              <p class="label-msg ranking"><span>人気レシピランキング</span></p>
              <ul class="ranking-list">
                <li class="ranking-item">
                  <a class="link" href="">
                    <div class="ranking-item--thumb">
                      <img class="cover" src="http://vegeness.f-demo.com/wp-content/themes/vegeness/assets/images/top/new01.png" alt="">
                    </div>
                    <div class="ranking-item--cnt">
                      栗を丸ごと包んだ・豆腐だんごのすまし汁
                    </div>
                  </a>
                </li>
                <li class="ranking-item">
                  <a class="link" href="">
                    <div class="ranking-item--thumb">
                      <img class="cover" src="http://vegeness.f-demo.com/wp-content/themes/vegeness/assets/images/top/new01.png" alt="">
                    </div>
                    <div class="ranking-item--cnt">
                      栗を丸ごと包んだ・豆腐だんごのすまし汁
                    </div>
                  </a>
                </li>
                <li class="ranking-item">
                  <a class="link" href="">
                    <div class="ranking-item--thumb">
                      <img class="cover" src="http://vegeness.f-demo.com/wp-content/themes/vegeness/assets/images/top/new01.png" alt="">
                    </div>
                    <div class="ranking-item--cnt">
                      栗を丸ごと包んだ・豆腐だんごのすまし汁
                    </div>
                  </a>
                </li>
                <li class="ranking-item">
                  <a class="link" href="">
                    <div class="ranking-item--thumb">
                      <img class="cover" src="http://vegeness.f-demo.com/wp-content/themes/vegeness/assets/images/top/new01.png" alt="">
                    </div>
                    <div class="ranking-item--cnt">
                      栗を丸ごと包んだ・豆腐だんごのすまし汁
                    </div>
                  </a>
                </li>
                <li class="ranking-item">
                  <a class="link" href="">
                    <div class="ranking-item--thumb">
                      <img class="cover" src="http://vegeness.f-demo.com/wp-content/themes/vegeness/assets/images/top/new01.png" alt="">
                    </div>
                    <div class="ranking-item--cnt">
                      栗を丸ごと包んだ・豆腐だんごのすまし汁
                    </div>
                  </a>
                </li>
              </ul>
              <div class="section-recipe--ranking-viewmore">
                <a class="view-more link" href="/recipe/ranking">レシピランキング一覧へ</a>
              </div>
            </div>
            <div class="section-recipe--advers">
              <a class="link" href="">
                <img src="http://vegeness.f-demo.com/wp-content/themes/vegeness/assets/images/top/advers01.png" alt="">
              </a>
              <a class="link sp-only" href="">
                <img src="http://vegeness.f-demo.com/wp-content/themes/vegeness/assets/images/top/advers02.png" alt="">
              </a>
            </div>
          </div>
        </div><!-- ./section-recipe--right -->
      </div>
    </div>
  </section><!-- ./section-recipe -->
</main><!-- ./main -->
@@include('../layouts/footer-end.html')