@@include('../../layouts/header-end-detail-nosearch.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>レストラン検索</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section recipe rest">
    <div class="container">
      <div class="section-recipe--left fadeup2">
        <div class="p-restaurant">
          <div class="sectionEP-head">
            <div class="sectionEP-titleWrap">
              <h1 class="sectionEP-title fork">レストラン検索</h1>
              <p class="sectionEP-resultSumary">12件中｜1〜30件 表示 [1ページ目]</p>
            </div>
            <div class="sectionEP-sort">
              <div class="tagX-list">
                <span class="tagX">三鷹・吉祥寺・荻窪<i class="tagX-icon"></i></span>
                <span class="tagX">東京駅・大手町・日本橋<i class="tagX-icon"></i></span>
                <span class="tagX">洋食<i class="tagX-icon"></i></span>
                <span class="tagX">歓送迎会<i class="tagX-icon"></i></span>
                <span class="tagX">デート・記念日<i class="tagX-icon"></i></span>
              </div>
              <div class="sectionEP-newOrders rest">
                <a href="/shop" class="link-return desc">レストラン検索に戻る</a>
              </div>
            </div>
          </div>
          <div class="section-recipe--row">
            <h3 class="titleLv4 mgb-10">該当のレストランはありません。</h3>
            <p class="desc">条件を変更してもう一度検索してください。</p>
          </div><!-- ./section-recipe--row -->
        </div><!-- ./p-restaurant-->

      </div><!-- ./section-recipe--left -->
      <div class="section-recipe--right fadeup2">
        @@include('../../layouts/sidebar-right-restaurant.html')
      </div><!-- ./section-recipe--right -->
    </div>
  </section><!-- ./section-recipe -->
  <section class="section advers">
    <div class="container">
      <div class="section-news--advers fadeup">
        <a class="link" href="">
          <img src="/assets/images/top/advers03.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers04.png" alt="">
        </a>
        <a class="link" href="">
          <img src="/assets/images/top/advers05.png" alt="">
        </a>
      </div>
    </div>
  </section><!-- ./section-news -->
</main><!-- ./main -->
@@include('../../layouts/footer-end-detail.html')