@@include('../layouts/header-end.html')
<main class="main">
  <div class="breadcrumbWrap pc-only">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">トップページ</a></li>
          <li>ログイン</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="form-user">
        <h2 class="form-user--ttl">ログイン</h2>
        <div class="form-user--formWrap">
          <form action="">
            <div class="form-user--row">
              <label for="mail" class="form-user--label">
                <span class="form-user--label-text">メールアドレス</span>
                <!-- <span class="form-user--label-required">必須</span> -->
              </label>
              <div class="form-user--field">
                <input type="text" name="mail" id="mail" class="input" value="" placeholder="例）members@vegeness.com">
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row">
              <label for="password" class="form-user--label">
                <span class="form-user--label-text">パスワード</span>
                <!-- <span class="form-user--label-required">必須</span> -->
              </label>
              <div class="form-user--field">
                <input type="password" name="password" id="password" class="input" value="" placeholder="半角英数字6文字以上">
              </div>
              <div class="form-user--guide align-right">
                <a href="./reset-pw" class="link underline mgt-5">パスワードをお忘れの方はこちら</a>
              </div>
            </div><!-- ./form-user--row -->
            <div class="form-user--row">
              <ul class="form-user--cbox ctrl js-cboxList">
                <li>
                  <input class="checkbox js-cbox-state" id="genre01" type="checkbox" value="value1">
                  <label for="genre01">ログイン情報を記憶する</label>
                </li>
              </ul>
              <div class="form-user--btnWrap">
                <input class="btn-gray disabled js-cbox-state-for" type="submit" value="ログイン">
              </div>
              <div class="form-user--guide type2 mgt-10 align-center">
                <a href="/signup" class="link underline">新規会員登録はこちら</a>
              </div>
            </div><!-- ./form-user--row -->
          </form><!-- ./form -->
        </div>
      </div><!-- ./form-user -->
    </div>
  </section><!-- ./section -->
</main><!-- ./main -->
@@include('../layouts/footer-end.html')